@import url(bootstrap.css);

.wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: left 0.3s ease-in-out;
}

.map {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #f9f9f9;
}

.header {
    height: 89px;
    background-color: rgba(255, 255, 255, 0.9);
}

.footer {
    background-color: rgba(214, 214, 214, 0.9);
}

.header, .footer {
    position: absolute;
}

.pulldown {
    position: absolute;
    left: 0;
    top: 89px;
    width: 320px;
}

.pulldown .toggle {
    width: 75%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.pulldown .toggle.collapsed .pulldown-close, .pulldown .toggle .pulldown-open {
    display: none;
}

.pulldown .toggle .pulldown-close, .pulldown .toggle.collapsed .pulldown-open {
    display: inherit;
}

.header, .pulldown .content, .pulldown .toggle {
    box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.175);
}
