<!DOCTYPE html>
<html ng-app='ga_featuretree_example'>
  <head>
    <title>Feature Tree Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">
    <base href="../../../">
    <script>
      function toAbsURL(s) {
        var l = location, h, p, f, i;
        if (/^\w+:/.test(s)) {
          return s;
        }
        h = l.protocol + '//' + l.host;
        if (s.indexOf('/') == 0) {
          return h + s;
        }
        p = l.pathname.replace(/\/[^\/]*$/, '');
        f = s.match(/\.\.\//g);
        if (f) {
          s = s.substring(f.length * 3);
          for (i = f.length; i--;) {
            p = p.substring(0, p.lastIndexOf('/'));
          }
        }
        return h + p + '/' + s;
      }
    </script>
    <!--[if IE]>
    <script>
      (function() {
        var base = document.getElementsByTagName('base')[0];
        base.href = toAbsURL(base.href);
      })();
    </script>
    <![endif]-->
    <link href="style/app.css" rel="stylesheet" media="screen">
    <style>
      #container {
      }
      #map {
        height: 600px;
        width: 900px;
        float: left;
      }

      #featurecontainer {
        margin-left: 930px;
      }

      #featurecontainer .hidden-collapsed {
        display: inline;
      }
       #featurecontainer .visible-collapsed {
        display: none;
      }
      #featurecontainer .collapsed .hidden-collapsed {
          display: none;
      }
      #featurecontainer .collapsed .visible-collapsed {
          display: inline;
      }

      .featuretree {
        margin: 20px;
      }

 
    </style>
  </head>
  <body ng-controller="MainController">
    <div id="container">

      <div id="map" class="map" ga-map ga-map-map="map">
      </div>

      <div id="featurecontainer">

        <a id="featuretree-link" class="accordion-toggle collapsed" data-toggle="collapse" href="#featuretree">
          <i class="visible-collapsed icon-plus"></i>
          <i class="hidden-collapsed icon-minus"></i>
          <span>Object Information (Click to (de)activate feature tree)</span>
        </a>
 
        <div id="featuretree" ng-controller="FeatureTreeController" class="collapse">
          <div ga-featuretree ga-featuretree-options="options" ga-featuretree-map="map">
          </div>
        <div>
      </div>
    </div>
    <div ga-tooltip ga-tooltip-map="map" ga-tooltip-options="options"></div>


    
       
    <script src="lib/jquery-2.0.3.js"></script>
    <script src="lib/angular-1.2.9.js"></script>
    <script src="lib/angular-translate-1.1.1.js"></script>
    <script src="lib/angular-translate-loader-static-files-0.1.5.js"></script>
    <script src="lib/bootstrap-3.0.0.js"></script>
    <script src="lib/proj4js-compressed.js"></script>
    <script src="lib/EPSG21781.js"></script>
    <script>
      window.CLOSURE_NO_DEPS = true;
    </script>
    <script src="lib/ol-whitespace.js"></script>
    <script src="deps.js"></script>
    <script>
      goog.require('ga_popup');
      goog.require('ga_tooltip');
      goog.require('ga_featuretree');
      goog.require('ga_map');
    </script>
    <script>
      (function() {
        var module = angular.module('ga_featuretree_example', [
          'ga_popup',
          'ga_tooltip',
          'ga_featuretree',
          'ga_map'
        ]);
        
        module.constant('gaGlobalOptions', {
          serviceUrl : '//mf-chsdi3.dev.bgdi.ch',
          baseUrlPath: '/main'
        });

         module.config(['gaLayersProvider', function(gaLayersProvider) {
           gaLayersProvider.wmtsGetTileUrlTemplate =
               'http://wmts{0-4}.geo.admin.ch/1.0.0/{Layer}/default/' +
               '{Time}/21781/{TileMatrix}/{TileRow}/{TileCol}.{Format}';

           gaLayersProvider.layersConfigUrlTemplate =
               'http://mf-chsdi3.dev.bgdi.ch/rest/services/{Topic}/MapServer/layersConfig' +
               '?lang={Lang}';
           gaLayersProvider.legendUrlTemplate =
               'http://mf-chsdi3.dev.bgdi.ch/rest/services/{Topic}/MapServer/{Layer}/legend' +
               '?lang={Lang}';
        }]);

        module.config(['gaRecenterMapOnFeaturesProvider', function(gaRecenterMapOnFeaturesProvider) {
          gaRecenterMapOnFeaturesProvider.url =
              '/main/rest/services/all/MapServer/';
        }]);
 
 


        module.controller('MainController', 
          ['$timeout', '$rootScope', '$scope', 'gaLayers', 'gaGlobalOptions',
          function($timeout, $rootScope, $scope, gaLayers, gaGlobalOptions) {

            var swissExtent = [485869.5728, 76443.1884, 837076.5648, 299941.7864];
            var swissProjection = ol.proj.configureProj4jsProjection({
              code: 'EPSG:21781',
              extent: swissExtent
            });

            var resolutions = [650.0, 500.0, 250.0, 100.0, 50.0, 20.0, 10.0, 5.0, 2.5,
              2.0, 1.0, 0.5, 0.25, 0.1];

            var map = new ol.Map({
              controls: ol.control.defaults({
                attribution: false
              }),
              renderer: ol.RendererHint.CANVAS,
              view: new ol.View2D({
                projection: swissProjection,
                center: ol.extent.getCenter(swissExtent),
                resolution: 500.0,
                resolutions: resolutions
              })
            });

            $scope.map = map;
            gaLayers.loadForTopic('ech', 'en').then(function() {
              var layer = gaLayers.getOlLayerById('ch.swisstopo.pixelkarte-farbe');
              layer.background = true;
              map.addLayer(layer);
              map.addLayer(gaLayers.getOlLayerById('ch.bafu.bundesinventare-auen'));
              map.addLayer(gaLayers.getOlLayerById('ch.babs.kulturgueter'));
              map.addLayer(gaLayers.getOlLayerById('ch.astra.ivs-nat'));
            });

            $rootScope.$broadcast('gaTopicChange', 'ech');

            var baseUrl = gaGlobalOptions.baseUrlPath + '//rest/services';

            $scope.options = {
              tolerance: 10,
              identifyUrlTemplate: baseUrl + '/ech/MapServer/identify',
              htmlUrlTemplate: baseUrl + '/ech/MapServer/{Layer}/{Feature}/htmlPopup'
            };
        }]);
     
        module.controller('FeatureTreeController', ['$scope',
          function($scope) {

            var baseUrl = 'http://mf-geoadmin3.dev.bgdi.ch/main//rest/services';

            $scope.options = {
              searchUrlTemplate: baseUrl + '/ech/SearchServer',
              htmlUrlTemplate: baseUrl + '/ech/MapServer/{Layer}/{Feature}/htmlPopup',
              active: false
            };

            $('#featuretree').on('show.bs.collapse', function() {
              $scope.$apply(function() {
                $scope.options.active = true;
              });
            });

            $('#featuretree').on('hide.bs.collapse', function() {
              $scope.$apply(function() {
                $scope.options.active = false;
              });
            });
        }]);

      })();
    </script>
  </body>
</html>
