{
  extends: "eslint-config-standard",
  rules: {
    dot-location: ["error", "object"],
    indent: [ "error", 2, { 
      CallExpression: {
        arguments: 2
      },
      FunctionDeclaration: {
        body: 1,
        parameters: 2
      },
      FunctionExpression: {
        body: 1,
        parameters: 2
      },
      MemberExpression: 2
    }],
    max-len: ["error", {
      code: 80,
      ignoreUrls: true,
      ignoreRegExpLiterals: true
    }],
    no-template-curly-in-string: ["off"], // rule for ES6 only
    one-var: ["off"],
    operator-linebreak: ["error", "after"],
    padded-blocks: ["off"],
    semi: ["off"],
    space-before-function-paren: ["error", "never"]
  },
  env: {
    browser: true,
    jquery: true,
    mocha: true
  },
  globals:  {
    angular: true,
    Cesium: true,
    expect: true,
    FPS: true,
    GaCesium: true,
    goog: true,
    inject: true,
    ol: true,
    olcs: true,
    sinon: true,
    Slip: true,
    WebKitBlobBuilder: true
  }
}
