*.pyc
*.war
*.ini
*.mo
*.iml
*.swp
*~
.installed.cfg
apache/wsgi.conf
apache/tomcat-print.conf
buildout/bin/
buildout/develop-eggs/
buildout/eggs/
buildout/parts/
chsdi/static/doc/build/
MANIFEST
.coverage
chsdi.egg-info
sphinx.conf
.idea
deploy/hooks/pre-create-code
node_modules
