/node_modules
/app/src/deps.js
/app/style/app.css
/app/index.html
/app-prod
/.build-artefacts
/apache/app.conf
/test/karma-conf-dev.js
/test/karma-conf-prod.js

# FIXME
# The following are developer-specific and should probably be in the
# developers' .gitconfig file.

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Jetbrains
.idea
*.iml

# Vim swap files
*.swp
