[buildout]
extends = buildout.cfg
parts += fixrights

[vars]
# urls
api_url = //mf-chsdi3.dev.bgdi.ch
host = mf-chsdi3.dev.bgdi.ch
# geomadmin
geoadminhost = mf-geoadmin3.dev.bgdi.ch
# database host
dbhost = pg-sandbox.bgdi.ch
# database staging
db_staging = dev
# sphinx
sphinxhost = service-sphinxsearch.dev.bgdi.ch
# wms
wmshost = wms-bgdi.dev.bgdi.ch
# mapproxy
mapproxyhost = mf-chsdi3.dev.bgdi.ch
# staging of geodata
geodata_staging = test
# deploy target
deploy_target = dev
#wsgi daemon threads
wsgi_threads=15
#mapproxy wsgi options (this is pretty a default value)
mapproxy_wsgi_options=threads=15 
# http proxy
http_proxy=http://ec2-54-93-109-29.eu-central-1.compute.amazonaws.com:80



[fixrights]
recipe = cp.recipe.cmd
install_cmd = 
               chgrp -R geodata ${buildout:directory} || :
               chmod -R g+swX  ${buildout:directory} || :

