[buildout]
extends = buildout.cfg
parts += fixrights

[vars]
# apache
apache_base_path = main
# urls
api_url = //mf-chsdi3.dev.bgdi.ch
host = mf-chsdi3.dev.bgdi.ch
# geomadmin
geoadminhost = mf-geoadmin3.dev.bgdi.ch
# database
dbhost = pgcluster0t.bgdi.admin.ch
# sphinx
sphinxhost = service-sphinxsearch.dev.bgdi.ch
# staging of geodata
geodata_staging = test
# deploy target
deploy_target = dev

[fixrights]
recipe = cp.recipe.cmd
install_cmd = 
               chgrp -R geodata ${buildout:directory}   
               chmod -R g+swX  ${buildout:directory}   
               

