<!DOCTYPE html>
<html ng-app="app">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">
    <link href="css/app.css" rel="stylesheet" media="screen">
  </head>
  <body ng-controller="MapController">

    <div class="navbar navbar-fixed-top">
      <form class="navbar-form pull-right" ng-controller="BackgroundLayersController">
        <select ng-model="currentBackgroundLayer" ng-options="l.value as l.label for l in backgroundLayers">
        </select>
      </form>
    </div>
    <div class="map" id="map" app-map="map"></div>
    <div class="navbar navbar-fixed-bottom">
      <form class="navbar-form pull-left">
        <select ng-model="mousePositionProjection">
          <option value="EPSG:21781">CH1903 / LV03</option>
          <!-- <option value="EPSG:2056">CH1903+ / LV95</option> -->
          <option value="EPSG:4326">WGS 84</option>
        </select>
      </form>
      <p class="navbar-text">{{mousePositionValue | coordXY:2}}</p>

    </div>

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/proj4js/1.1.0/proj4js-compressed.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/proj4js/1.1.0/defs/EPSG21781.js"></script>
    <script src="lib/ol.js"></script>
    <script src="app/AppModule.js"></script>
    <script src="app/map/MapModule.js"></script>
    <script src="app/map/MapDirective.js"></script>
    <script src="app/map/MapController.js"></script>
    <script src="app/backgroundlayers/BackgroundLayersModule.js"></script>
    <script src="app/backgroundlayers/BackgroundLayersController.js"></script>
    <script src="app/print/PrintModule.js"></script>
    <script src="app/print/PrintController.js"></script>

  </body>
</html>
