autopep8==1.2.4
boto3==1.4.1
botocore==1.4.70
closure-linter==2.3.19
docutils==0.12
flake8==2.6.2
futures==3.0.5
htmlmin==0.1.6
jmespath==0.9.0
Mako==1.0.0
MarkupSafe==0.23
mccabe==0.5.2
pep8==1.7.0
pycodestyle==2.0.0
pyflakes==1.2.3
python-dateutil==2.6.0
python-gflags==3.1.0
requests==2.11.1
s3transfer==0.1.9
sauceclient==0.2.1
selenium==3.0.1
six==1.10.0
https://github.com/google/closure-linter/archive/v2.3.19.tar.gz
