.import-kml form {
    width: 250px;
}

.import-kml input {
    height: 40px;
    width: 200px;
    float: left;
}

.import-kml button {
    height: 40px;
    width: 50px;
    float: left;
}

.import-kml div, .import-kml textarea {
    float: left;
    width: 100%;
}
