.ga-vector-feedback-panel {
  z-index: 2000;
  position: absolute;
  top: unit(@header-height + 5, px);
  right: 115px;
  background-color: rgba(0, 0, 0, 0.65);
  color: white;
  overflow-y: auto;
  max-height: 740px;
  max-width: 500px;
  padding: 0 15px;
  width: 41%;
  @media (max-width: @screen-tablet) {
    width: 50%;
  }
  @media (max-height: @screen-m-height) {
    max-height: 575px;
  }
  @media (max-height: @screen-ms-height) {
    max-height: 494px;
  }
  @media (max-height: @screen-s-height) {
    max-height: unit(@screen-xs-height - @small-header-height, px);
  }
  @media (max-width: @screen-tablet), (max-height: @screen-s-height) {
    top: unit(@small-header-height + 5, px);
  }
  @media (max-width: @screen-sm), (max-width: @screen-xs) {
    max-width: 100%;
    width: auto;
    left: 0;
    right: 55px;
  }
  .in {
    transition: top 1s ease;
  }
  &.collapsing {
    overflow-y: hidden;
  }
}

.ga-vector-feedback-header {
  width: 100%;
  display: table;
  cursor: pointer;
  &:hover {
    .ga-vector-feedback-title {
      color: rgba(255, 255, 255, 0.65);
    }
  }
  .fa-caret-down {
    color: white;
    float: right;
    margin-top: 14px;
    margin-right: 8px;
    transform: rotate(180deg);
    transition: transform 0.2s ease, -webkit-transform 0.2s ease;
  }
  &.collapsed {
    .fa-caret-down {
      transform: rotate(360deg);
    }
  }
}

.ga-vector-feedback-title {
  font-size: 16px;
  font-weight: 500;
  padding: 10px 0;
  color: white;
  @media (max-width: @screen-sm), (max-width: @screen-xs) {
    font-size: 13px;
  }
}

.ga-vector-feedback-text {
  text-align: justify;
}

.ga-vector-feedback-item {
  width: 100%;
  display: table;
  padding: 2px 0;
  .ga-vector-feeback-service-link {
    width: 40%;
    @media (max-width: @screen-sm), (max-width: @screen-xs) {
      width: 100%;
    }
  }
}

.ga-vector-feedback-item-last {
  margin-bottom: 15px;
  @media (max-width: @screen-sm), (max-width: @screen-xs) {
    button {
      margin-top: 5px;
    }
  }
}

.ga-vector-feedback-item-title {
  font-size: 15px;
  font-weight: 300;
  width: 60%;
  @media (max-width: @screen-sm), (max-width: @screen-xs) {
    font-size: 12px;
    width: 100%;
  }
}

.ga-vector-feedback-item-select-wrapper {
  width: 40%;
  float: right;
  @media (max-width: @screen-sm), (max-width: @screen-xs) {
    width: 100%;
  }
}

.ga-vector-feedback-item-buttons-wrapper {
  width: 100%;
  float: right;
  margin-top: 10px;
  text-align: center;
  @media (max-width: @screen-sm), (max-width: @screen-xs) {
    margin-top: 0px;
  }
}

.ga-vector-feedback-item-text-wrapper {
  width: 100%;
  float: right;
  a {
    color: white;
    text-decoration: underline;
  }
}

.ga-vector-feedback-color-button {
  width: 39px;
  height: 25px;
  border: none;
  border: 3px solid rgba(0, 0, 0, 0);
  &.active-color {
    border: 3px solid @red;
  }
  @media (max-width: @screen-tablet), (max-height: @screen-m-height) {
    width: 37px;
  }
}

a.ga-feedback-survey-link {
  text-decoration: none;
  color: @brand-primary;
}