<div class="tabbable"> <!-- Only required for left/right tabs -->

  <ul class="nav nav-tabs">
    <li ng-if="!isIE9" ng-class="getTabClass(1)">
      <a ng-click="activeTab(1)">Local</a>
    </li>
    <li ng-class="getTabClass(2)">
      <a ng-click="activeTab(2)">URL</a>
    </li>
  </ul>

  <a href="" class="ga-import-kml-validate" ng-show="(file != null || fileUrl != null)" translate>link_validate_kml</a>

  <div class="tab-content">

    <!-- TO FIX: can't use ng-if here because the HTML content is added after the
    execution of the "link" function of the directive and so the dynamic
    js events are not added -->
    <div ng-hide="isIE9" class="tab-pane"  ng-class="getTabClass(1)">

      <!-- Upload from a basic upload (the input file is hidden by default)-->
      <form  method="POST" target="_BLANK" action="{{options.validationServiceUrl}}" enctype="multipart/form-data" class="input-group-sm">

        <input type="file" name="file"/>

        <!-- Use for validation -->
        <input type="hidden" name="type" value="direct-input"/>

        <!-- Button use to open the file chooser of the input file -->
        <input class="ga-import-kml-fake-file form-control" type="text" readonly
          value="{{(file.name) ? file.name + ', ' + file.size/1000 + ' ko' : ''}}"
          placeholder="{{'no_file' | translate}}"/>
        <span class="input-group-btn">
          <button type="button" class="btn btn-default ga-import-kml-browse" translate>browse</button>
        </span>
      </form>

    </div>

    <div class="tab-pane" ng-class="getTabClass(2)">

      <!-- Upload from an URL -->
      <form method="POST" target="_BLANK" action="{{options.validationServiceUrl}}">

        <input type="url" name="url" placeholder="{{'paste_url' | translate}}"
          ng-model="fileUrl" class="form-control input-sm"/>

        <!-- Use for validation -->
        <input type="hidden" name="type" value="uri"/>
      </form>

    </div>
  </div>

</div>

<div class="tabbable-footer" >
  <button type="button" class="btn btn-default ga-import-kml-load" ng-click="loadKML()" translate>load_kml</button>
  <!-- TODO: Display information about the uploaded file and the upload process -->
  <div class="ga-import-kml-result">
    <div class="ga-import-kml-abort icon-remove-sign" ng-click="cancel()"
      ng-show="(0 < progress && progress < 100)" ></div>{{userMessage}}
    <div ng-if="!isIE" class="progress progress-striped active"
      ng-show="(0 < progress && progress < 100)">
      <!-- TO FIX: issue ie9-10:  https://github.com/angular/angular.js/issues/2186 -->
      <div class="progress-bar" style="width:100%;"></div>
    </div>
  </div>
  <!-- Use for debug purpose / Display the content of the file if upload succeed -->
  <!--textarea class="file-uploaded" > {{fileContent}} </textarea-->
</div>
