<form class="form-group form-group-sm">
  <input type="url" name="url" autocomplete="off"
    placeholder="{{'import_online_placeholder' | translate}}"
    ng-model="fileUrl" required class="form-control"/>
  <div class="ga-import-open fa fa-collapse"></div>
</form>
<div class="tabbable-footer" >
  <button type="button" class="btn btn-default btn-sm"
          ng-class="{'btn-danger': canceler}"
          ng-disabled="!fileUrl || !isValid(fileUrl) || (loading && !canceler)"
          ng-click="loading ? cancel() : handleFileUrl()">
    <span>{{userMessage | translate}}</span>
  </button>
</div>
