[ga-tilt3d] {
  button {
    background-image: data-uri('icon_25d_off.png');

    &[disabled] {
      background-image: data-uri('icon_25d_disabled.png');
    }
  }
}

.ga-3d-active {
  [ga-tilt3d] button {
    background-image: data-uri('icon_25d_on.png');
  }
}
