[ga-tilt3d] {

  button {
    background-image: data-uri('icon_25d_offx2.png');
    background-size: @control-btn-size-px;

    &[disabled] {
      background-image: data-uri('icon_25d_disabledx2.png');
    }
  }

  &.ga-active button {
    background-image: data-uri('icon_25d_onx2.png');
  }
}
