[ga-feedback] {
  label, p {
    margin-top: 5px;
  }
  .ga-feedback-footer {
    padding-top: 10px;
    border-top: 1px solid #e5e5e5;
  }
  input[type=file] {
    display: none;
  }
  input[type=text][readonly] {
    cursor: pointer;
  }
  .progress {
    margin-top: 8px;
  }
  [ga-draw] {
    .ga-draw-buttons {
      margin: 0;

      button {
        margin: 2px;
        width: ~'calc(50% - 4px)';

        &:nth-child(3) {
          width: ~'calc(100% - 4px)';
        }

        &:nth-child(4) {
          display: none;
        }
      }
    }
    .ga-more {
      display: none;
    }
  }
}
     
