[ga-feedback] {
  
  .ga-feedback-footer {
    padding-top: 15px;
    border-top: 1px solid #e5e5e5;
    
    @media (max-width: @screen-phone) {
      padding-top: 10px;
      margin-top : 0px; 
    }
  }
  .ga-feedback-real-file {
    display: none;
  }
  .ga-feedback-fake-file {
    float: left;
    width: 80%;
    cursor: pointer;
  }
  .ga-feedback-browse-button {
    width: 100%;
  }
  .input-group-sm {
    margin-top: 5px;
  }
  .progress {
    margin-top: 8px;
  }
}
     
