<form class="pull-left">
  <a translate class="ga-search-title">search_title</a>
  <span class="ga-search-input-container">
    <input class="input-small ga-search-input" type="search"
    placeholder="{{'search_placeholder' | translate}}" ng-model="query"
    autocapitalize="none" autocomplete="off" autocorrect="off"
    ng-keydown="keydown($event)"
    ng-blur="lostFocus($event)"
    ng-focus="onFocus()"
    ng-disabled="!childoptions.currentTopic">
    <span class="ga-search-dropdown" ng-show="restat.sets()">
      <!-- locations -->
      <div ng-class="'ga-search-' + restat.sets()" ng-if="!options.layersOnly">
        <div ga-search-locations ga-search-locations-options="childoptions" ga-search-locations-map="map"></div>
      </div>
      <!-- features -->
      <div ng-class="'ga-search-' + restat.sets()" ng-if="!options.layersOnly">
        <div ga-search-features ga-search-features-options="childoptions" ga-search-features-map="map"></div>
      </div>
      <!-- layers -->
      <div ng-class="'ga-search-' + restat.sets()">
        <div ga-search-layers ga-search-layers-options="childoptions" ga-search-layers-map="map"></div>
      </div>
    </span> <!-- dropdown -->
  </span> <!-- input container -->
  <i class="icon-remove-sign ng-hide" ng-click="clearInput()" ng-mousedown="preClear($event)" ng-hide="query==''"></i>
</form>
