<div class="ga-search-results-container ng-hide" ng-hide="!results.length">
  <span ng-if="type === 'locations'">
    <div class="ga-search-results-header" translate>locations</div>
  </span>
  <span ng-if="type === 'featuresearch'">
    <div class="ga-search-results-header" translate>item</div>
  </span>
  <span ng-if="type === 'layers'">
    <div class="ga-search-results-header" translate>map_info</div>
  </span>

  <span class="ga-search-results">
    <div class="ga-search-result" tabindex="{{tabstart + i}}"
         ng-repeat="(i, res) in results"
         ng-keydown="keydown($event, res)"
         ng-focus="preview(res)"
         ng-blur="out()"
         ng-click="click(res)"
         ng-mouseenter="preview(res)"
         ng-mouseleave="out()">
      <div class="ga-search-item"
           ng-bind-html="prepareLabel(res.attrs)"
           title="{{cleanLabel(res.attrs)}}">
      </div>
      <i class="icon-info-sign"
         ng-if="type === 'layers'"
         ng-click="getLegend($event, res.attrs.layer)"></i>
    </div>
  </span>

</div>
