.geolocation {
    position: absolute;
    z-index: 10;
    top: 105px;
    right: 21px;
    width: 16px;
    height: 16px;
    background-image: data-uri('geolocation.png');
}
.geolocation.tracking {
    background-image: data-uri('geolocation_on.png');
} 
