<form>
  <div>
    <label translate>print_layout</label>
    <select ng-model="layout" ng-options="l.name for l in capabilities.layouts"></select>
    <label translate>print_scale</label>
    <select ng-model="scale" ng-options="l.name for l in capabilities.scales"></select>
  </div>
  <div class="ga-print-options">
      <input ng-model="options.legend" type="checkbox" id="ga-print-legend" />
      <label for="ga-print-legend" translate>legend</label>
      <br/>
      <input ng-model="options.graticule" type="checkbox" id="ga-print-graticule" />
      <label for="ga-print-graticule" translate>graticule</label>
  </div>
  <button type="submit" class="btn btn-primary" ng-click="submit()" translate>print_action</button>
</form>
