<form>
  <div>
    <label translate>print_layout</label>
    <select ng-model="layout" ng-options="l.name for l in capabilities.layouts"></select>
    <select ng-model="scale" ng-options="l.name for l in capabilities.scales"></select>
  </div>
  <div class="checkbox">
      <input ng-model="options.legend" type="checkbox" /><label translate>legend
      </label><br />
      <input ng-model="options.graticule" type="checkbox" /><label translate>graticule
      </label>
  </div>
  <button type="submit" class="btn btn-primary" ng-click="submit()" translate>print_action</button>
</form>
