[ga-profile] {
  position:relative;
  
  .axis path,
  .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }

  .tick {
    font-size: 11px;
  }
  
  .ga-profile-inner {
    overflow: hidden;
    width: inherit;
  }

  .ga-profile-svg {
    display: block;
    margin: 0;
  }

  .ga-profile-grid-x,
  .ga-profile-grid-y {
    stroke: black;
    opacity: 0.8;
    
    line {
      stroke-width: 0.02em;
    }
  }
 
  .ga-profile-area {
    fill: #f00;
    fill-opacity: 0.5;
  }
  
  .ga-profile-legend,
  .ga-profile-label {
    font-weight: bold;
    text-shadow: 1px 1px lightgrey;
  }

  .ga-profile-tooltip {
    position: absolute;
    height: 65px;
    width: 150px;
    display: none;
    background-color: black;
    color: white;
    opacity: 0.8;
    margin-left: -75px;
    margin-top: -73px;
    padding-top: 8px;/*for the arrow*/
    font-size: 13px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    
    .ga-profile-tooltip-inner {
      top: 5px;
      position: relative;
      width: inherit;
      height: 50px;
      text-align: center;
    }
    
    .ga-profile-tooltip-arrow {
      border-color: black transparent transparent;
      border-style: solid;
      border-width: 10px 10px 0px 10px;
      position: absolute;
      top: 65px;
      left: 65px;
    }
  }
}
