.profile-popup {
  overflow: hidden;
  max-height: none;
  max-width: none;
  width: 1500px;
  height: 470px;
  .ga-popup-content {
    overflow: hidden;
    max-height: inherit;
    max-width: inherit;
    .profile-inner {
      overflow: hidden;
      width: inherit;
      .profile-svg {
        display: block;
        margin: 0 auto;
      }
      .axis path,
      .axis line {
        fill: none;
        stroke: #000;
        shape-rendering: crispEdges;
      }
      .tick {
        font-size: 11px;
      }
      .profile-area {
        fill: steelblue;
      }
    }
  }
}
