[ga-profile] {

  .profile-tooltip {
    position: absolute;
    height: 65px;
    width: 150px;
    display: none;
    background-color: black;
    color: white;
    opacity: 0.8;
    margin-left: -75px;
    margin-top: -73px;
    padding-top: 8px;/*for the arrow*/
    font-size: 13px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    
    .profile-tooltip-inner {
      top: 5px;
      position: relative;
      width: inherit;
      height: 50px;
      text-align: center;
    }
    
    .profile-tooltip-arrow {
      border-color: black transparent transparent;
      border-style: solid;
      border-width: 10px 10px 0px 10px;
      position: absolute;
      top: 65px;
      left: 65px;
    }
  }
}
