<div ng-if="!layer.glStyle" translate>
  <p><span translate>edit_not_possible</span></p>
</div>
<p ng-if="layer.glStyle && !isExternalStyleUrlValid(layer)">
  <span translate>{{ 'edit_or_reset_style' }}:</span>
  <a href=""
     class="btn btn-default"
     ng-disabled="!canExport(layer)"
     ng-click="reset($event, layer)"
     translate>edit_reset</a>
</p>
<div ng-show="layer.glStyle && isExternalStyleUrlValid(layer)">
  <p>
    <span translate>edit_current_layer</span>
    <span translate>{{ getBgLabelId() }}</span>
  </p>

  <div ng-if="isActive" ga-mapbox-style-edit-properties="layer.glStyle"
       ga-edit-gl-style-config="options.editConfig"></div>

  <div class="ga-edit-info-save">
    <span class="ga-success" translate="{{statusMsgId}}"></span>
  </div>
  <hr />
  <label>
    <span translate>{{ 'object_information' }}:</span>
    <div ga-query-vector-select
         ga-query-vector-select-is-edit-active="isActive"></div>
  </label>
  <hr />
  <div class="ga-more">
    <ul class="list-inline row">
      <li class="col-sm-4 col-xs-4 vr">
        <a href=""
           class="btn"
           ng-disabled="!canExport(layer)"
           ng-click="reset($event, layer)"
           translate>edit_reset</a>
      </li>
      <li class="col-sm-4 col-xs-4 vr">
        <a href=""
           class="btn"
           ng-disabled="!canExport(layer)"
           ng-click="export($event, layer)"
           translate>export</a>
      </li>
      <li class="col-sm-4 col-xs-4">
        <a href=""
           class="btn"
           ng-disabled="!canShare(layer)"
           ng-click="share($event, layer)"
           translate>share</a>
      </li>
    </ul>
  </div>
  <hr />
  <div class="ga-edit-disclaimer" translate>edit_share_file_disclaimer</div>
</div>
