<!DOCTYPE html>
<html ng-app='ga_importkml_example'>
  <head>
    <title>Import KML Component Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">
    <base href="../../../">
    <link href="style/app.css" rel="stylesheet" media="screen">
    <style>
      #map {
        width: 600px;
        height: 400px;
        top: 150px; 
      }

      #bg-layer-selector {
        width: 200px;
        top:150px;
        position: absolute;
        margin: 10px;
      }

      #import-kml {
        position: relative;
      }
    </style>
  </head>
  <body ng-controller="GaMapController">
    <div id="import-kml" 
        class="import-kml" 
        ng-controller="GaImportKmlController"
        ga-import-kml >
    </div>
    <div id="map" class="map" ga-map ga-map-map="map"></div>
    <div id="bg-layer-selector"
        ga-background-layer-selector
        ga-background-layer-selector-map="map"></div>      
    
    <script src="lib/jquery-2.0.2.js"></script>
    <script src="lib/angular-1.1.5.js"></script>
    <script src="lib/angular-translate-0.9.4.js"></script>
    <script src="lib/angular-translate-loader-static-files-0.1.2.js"></script>
    <script src="lib/bootstrap-3.0.0.js"></script>
    <script src="lib/proj4js-compressed.js"></script>
    <script src="lib/EPSG21781.js"></script>
    <script>
      window.CLOSURE_NO_DEPS = true;
    </script>
    <script src="lib/ol-whitespace.js"></script>
    <script src="deps.js"></script>
    <script>
      goog.require('ga_backgroundlayerselector');
      goog.require('ga_importkml');
      goog.require('ga_importkml_controller');  
      goog.require('ga_map');
      goog.require('ga_map_controller');
    </script>
        <script>
      (function() {
        var module = angular.module('ga_importkml_example', [
          'ga_backgroundlayerselector',
          'ga_importkml',
          'ga_importkml_controller',
          'ga_map',
          'ga_map_controller'
        ]);
      })();
    </script>
 
  </body>
</html>
