<form ng-submit="submit()">
  <label translate>feedback_mail</label>
  <input type="email" name="email" ng-model="email" required>
  <label translate>feedback_description</label>
  <textarea rows=3 name="feedback" ng-model="feedback"></textarea>
  <label translate>feedback_permalink</label>&nbsp;<a
    href="{{ permalinkValue }}" target="_blank" translate>permalink</a>
  <br>
  <label translate>feedback_revision</label>
  <br>
  <button type="submit" class="btn btn-primary" translate>send</button>
</form>