<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title" translate>shop_msg_title</h4>
    </div>
    <div class="modal-body">
      <p translate>shop_msg_body</p>
    </div>
    <div class="modal-footer">
      <div class="checkbox">
        <label class="ga-checkbox">
          <input ng-model="neverShowAgain" type="checkbox"/>
          <span translate>never_show_again</span>
        </label>
      </div>
      <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
    </div>
  </div>
</div>
