[ga-draw] {
  height: 44px;
  width: 250px;
  
  .ga-draw-disclaimer a {
    color: red;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .ga-draw-modify {
    width: 350px;
  }

  .ga-draw-buttons {
    position: absolute;
    width: 290px;

    .btn-group {
      position: relative;
      display: inline-block;
      
      .btn-default {
        font-size: 40px;
        height: 44px;
        width: 44px;
        padding: 0px;
        margin: 0px;
        
        & + ul {
          padding-right: 2px;
          li {
            display: inline-block;
            width: auto;
            margin-left: 2px;
          }
        }
      }
       
      > .dropdown-toggle {
        padding-right: 5px;
        width: auto;
      }
    }
    
    .dropdown-menu {
      max-height: 320px;
      overflow: auto;
    }

    .icon-ga-point + .dropdown-menu {
      width: 252px;
    }
   
    .ga-more {
      position: absolute;
      right: 0px;
      bottom: 0px;

      li .btn {
        text-align: left;
      }
    }

    .active {
      color: red;
    }
  }
}
 
.ga-draw-modify {
  position: relative;
  min-width: 250px;
  max-width: 300px;
  
  .popover-content {
    overflow:  auto;
    max-height: 150px;
  
    label, span {
      vertical-align: top;
    }

    span, input, select, textarea {
      display: inline-block;
    }

    input, select, textarea {
      font-weight: normal;
      width: 160px;
    }

    span {
     width: 85px;
     padding-top: 5px;
     text-align: left;
    } 
    .ga-icons {
      height: 140px;
      overflow: hidden;

      .ga-choose-icon {
        width: 340px;
        height: 72px;
        overflow-y: auto; 
      }

      .ga-icon-size-24 img {
        width: 24px;
      }

      .ga-icon-size-36 img {
        width: 36px;
      }

      .ga-icon-size-48 img {
        width: 48px;
      }
      
      img {
        cursor: pointer;
      }
      
      img:hover {
        background-color: #e9e9e9;
      }
      
      .ga-selected, .ga-selected:hover {
        background-color: darkgray;
        cursor: default;
      }
    }
  }

  .ga-draw-interaction-btns {
    width: 100%
    padding: 2px;

    button {
      margin-right: 2px;
    }
  }
}

