<form name="importkml" href="#"> <!-- method="POST"
enctype="multipart/form-data--> 
    <!-- Upload from an URL -->
    <input type="url" placeholder="Paste an URL" ng-model="fileUrl"  ng-change="handleFileUrl()"/>
    
    <!-- Upload from a basic upload (hidden by default)--> 
    <input type="file" />
    
    <!-- Button use to open the file chooser of the input file -->
    <button>Choose a local file</button>

    <!-- 
      TODO: Display informations about the uploaded file and the upload process 
    -->
    <div class="upload-result">
        {{userMessage}}
    </div>

    <!--
      Use for debug purpose 
      Display the content of the file if upload succeed 
    -->
    <!--textarea class="file-uploaded" > 
    {{fileContent}}
    </textarea-->

</form>
