[ga-time-selector-bt] {
  position: absolute;
  top: 302px;
  right: 7px;
  z-index: 1000;
  
  button {  
    display: none;
    width: 44px;
    height: 44px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    
    &.ga-time-selector-enabled {
      background: data-uri('time_black.png') no-repeat center center;
      display: block;
    }

    &.ga-time-selector-active {
      background: data-uri('time_red.png') no-repeat center center;
      display: block;
    }
  }

  @media screen and (max-width: @screen-tablet) {
    top: 260px;
  } 
}

[ga-time-selector] {
  display: block;
  width: auto;
  height: auto;
  position: absolute;  
  top: 96px;
  left: 50%;
  margin-left: -300px; 
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.175);   
  padding: 5px;
  overflow: hidden;
  z-index: 1000;

  @media screen and (max-width: @screen-tablet) {
    top: unit(@small-header-height + 7, px);/* Under the pulldown menu */   
    margin-left: 80px;
  }  
  
  @media screen and (max-width: @screen-phone) {
    margin-left: -50px;
  } 

  select {
    display: none;
    width: 100px;
    top: 57px; 
     
    @media (max-width: @screen-tablet) {
      display: inline-block;      
    }
  }

  [ga-slider] {
    height: 30px;
    width: 507px; 
    display: inline-block;
    position: relative;
    margin: 0px 40px 15px 40px;
    vertical-align: bottom;
   
    a {
      color: red;
      line-height: 45px;

      &:hover, &:focus {
        text-decoration: none;
      }
    }

    .ga-slider {
      height: 100%;
      margin: 0px;

      span.ga-slider-pointer {
        top: 0px;
        width: 81px;
        height: 30px;
        border: none;
        border-radius: 0px; 
        cursor: w-resize;
        z-index: 0;
        background: data-uri('pointer.png') no-repeat 2px 1px;

        &::after {
          content: none;
        }
      }
    
      .ga-slider-value1 {
        font-size: 18px;
        font-weight: bold;
        color: darkgray;
        top: 3px;
        font-size: 18px;
        width: 43px;
        height: 20px;
        overflow: hidden;
        padding: 0px;
        text-align: center;
        color: red; 
         
        input[type=text] {
          line-height: 20px;
          box-shadow: none;
        }
      }

      span.ga-slider-limit {
        display: none;
      }
    
      span.ga-slider-bar {
        margin-top: 30px;
        height: 10px;
        background: none;
        box-shadow: none;
        border-radius: 0px; 
        background-color: lightgray;

        span {
          height: 100%;
          width: 3px;
          bottom: 0px;
          
          &.ga-slider-bubble{
            display: none;
          }

          &.ga-slider-minor, &.ga-slider-major {
            width: 3px;
            border-left: 1px solid black;

            .ga-slider-available {
              left: -2px;
            }
          }

          &.ga-slider-major {
            height: 15px;
            bottom: 0px;

            .ga-slider-bubble {
              top: -18px;
              left: -13px;
              padding: 0px;
              width: 30px;
              display: inline-block;
              font-size: 12px; 
              background: none;
            }
          }

          &.ga-slider-available {
            background-color: rgba(255,0,0,.3);
            bottom: 2px;
            height: 6px;
            left: -1px;
          }

          &.ga-slider-last .ga-slider-available {
            background-color: transparent;
          }
        }
      }
    }
    
    @media (max-width: @screen-tablet) {
      display: none;      
    }
  }
}

