body {
  word-wrap: break-word;
}

td {
  padding-left: 10px;
}

#logo img{
  display: block;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 8px;
}

#free {
  font-size: smaller;
}

#notfree {
  font-size: smaller;
}

#queryable {
  font-size: smaller;
}

#searchable {
  font-size: smaller;
}

.ol-attribution ul {
  line-height: 16px !important;
  margin-bottom: 0px !important;
  margin-left: 0px;
}

#banner {
  display:block;
  width:300px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom:40px;
  margin-top:40px;
}

.wy-table-responsive {
  overflow: visible;
}

.wy-table-responsive table td {
  white-space: normal;
}

.wy-table-responsive table th {
  white-space:normal;
}
