body {
  word-wrap: break-word;
}

td {
  padding-left: 10px;
}

img{
  display: block;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 8px;
}

#free {
  font-size: smaller;
}

#notfree {
  font-size: smaller;
}

#queryable {
  font-size: smaller;
}

#searchable {
  font-size: smaller;
}

.ol-attribution ul {
  line-height: 16px !important;
  margin-bottom: 0px !important;
  margin-left: 0px;
}
