@import "basic.css";
@import "pygments.css";
@import "sphinxdoc.css";

body {
    font-family: 'Arial';
    font-size: 14px !important;
    letter-spacing: -0.01em !important;
    line-height: 150% !important;
    text-align: left !important;
    background-color: #BFD1D4 !important;
    color: black !important;
    padding: 0 !important;
    border: 1px solid #aaa !important;
    margin: 0px 80px 0px 80px !important;
    min-width: 740px !important;
}

a {
    color: #006699;
}

div.related ul li a {
    color: #333333;
}

h1 {
    color: #FF0000;
}

div.sphinxsidebar h3, div.sphinxsidebar h4 {
    background-color: #333333;
    border: 1px solid #333333;
}

div.sphinxsidebar {
    width: 260px;
}

div.bodywrapper {
    margin: 0 290px 0 0 !important;
    overflow-x: auto;
}

div.sphinxsidebar input {
    border: 1px solid #CCCCCC;
}

div.section ul {
    padding: 0px 0px 0px 40px !important;
    list-style: square !important;
}

h1 {
    margin: 0 !important;
    padding: 0.7em 0 0.3em 0 !important;
    font-size: 1.5em !important;
}

h2 {
    margin: 1.3em 0 0.2em 0 !important;
    font-size: 1.35em !important;
    padding: 0 !important;
}

h3 {
    margin: 1em 0 -0.3em 0 !important;
    font-size: 1.2em !important;
}

/*
 * Style Mix Fix
 *
 */
div.x-panel-body ul {
    list-style: none outside none !important;
    padding: 0 !important;
}

.x-panel-bbar {
    margin-top: 10px;
}

.x-toolbar-layout-ct {
    padding-left: 5px;
}

.tooltip_footer table {
    margin: 0px 0px !important;
}

table {
    margin: -3px -0.5em !important;
}

#apicode .x-window-body {
    text-align: left !important;
    font: 12px tahoma, arial, helvetica, sans-serif;
    letter-spacing: 0 !important;
}

#ifrm {
    border: 0px solid #ffffff;
}

.button {
    border: none;
    padding: 2px 8px;
    margin-bottom: 2px;
    margin-top: 2px;
    width: 10em;
}

.button:hover {
    border: none;
    padding: 2px 8px;
    margin-bottom: 2px;
    margin-top: 2px;
    width: 10em;
}

.CodeMirror-wrapping {
    background: #EEEEEE;
    border-width: 0;
}

ol.arabic {
    margin-left: 35px !important;
}

div.bodywrapper p {
    margin: 0.8em 0 0.5em !important;
}

div.bodywrapper strong {
    font-weight: bold;
}

table.docutils {
    margin: 5px 10px !important;
    border-style: solid none solid;
    border-width: 2px 0 2px;
}

.ext-ie .geoadmin-catalog-tree .treelayericon-raster,
.ext-ie .geoadmin-catalog-tree .treelayericon-point,
.ext-ie .geoadmin-catalog-tree .treelayericon-line,
.ext-ie .geoadmin-catalog-tree .treelayericon-polygon,
.ext-ie .geoadmin-catalog-tree .treelayericon-mixed {
    margin-top: -15px !important;
}

table.docutils th {
    border-style:  none none solid none;
    border-width: 0  0 2px 0;
    fon-weight: bold;
    background-color: #ddd;
    border-color: #000;
}

table.jqplot-table-legend, table.jqplot-cursor-legend {
   top: 20px !important;
   right: 20px !important;
}
