.htmlpopup-container {
  font-size: 11px;
  font-family: arial,helvetia,verdana;
  width: 50%;
  padding-right: 25%;
  padding-left: 25%;
}

.htmlpopup-container h1 {
  vertical-align: middle;
  width: 100%;
  font-size: 100%;
}

.htmlpopup-container table {
  width: 100%;
}

.htmlpopup-container table td, .htmlpopup-container table th {
  font-size: 75%;
  vertical-align: middle;
  text-align: center;
}

.htmlpopup-container table th {
  font-weight: bold;
  background-color: #EFEFEF;
}

.htmlpopup-container .table-with-border, .htmlpopup-container .table-with-border th, .htmlpopup-container .table-with-border td {
  border: 1px ridge #B0B0B0;
}

.htmlpopup-container span {
  font-weight: bold;
}

.htmlpopup-container .htmlpopup-header {
  background-color: #E9E9E9;
}

.htmlpopup-container .htmlpopup-header, .htmlpopup-container .htmlpopup-content {
  padding: 7px;
  border: 1px solid #B0B0B0;
}

.htmlpopup-container .htmlpopup-content {
  border-top: 0px;
}

.htmlpopup-container .htmlpopup-content .cell-meta {
  width: 50%;
  text-align: left;
}

.htmlpopup-container .htmlpopup-content .cell-left {
  width: 35%;
}

.htmlpopup-container .htmlpopup-content .cell-left-small {
  width: 25%
}
