<ul>
  <li ng-repeat="layer in layers | filter:layerFilter">
    <button type="button" ng-click="removeLayerFromMap(layer)" class="btn btn-primary btn-xs">&times;</button>
    <label>
      <input type="checkbox" ng-model="layer.visible" />
      {{getLayerLabel(layer)}}
    </label>
    <a href="#"><i class="icon-info-sign"></i> </a>
    <label>
      <span translate>transparency</span>&nbsp; <input type="range" />
    </label>
    <div class="ordering">
      <a href="#" class="icon-arrow-up"></a>
      <a href="#" class="icon-arrow-down"></a>
    </div>
  </li>
</ul>
