<ul>
  <li ng-if="!(filteredLayers = (layers | gaReverse | filter:layerFilter)).length" class="ga-no-layer" translate>no_layers_info</li>
  <li ng-repeat="layer in filteredLayers" class="ga-layer-folded"
      ng-class="{
        'ga-layer-time-enabled': layer.timeEnabled,
        'ga-layer-warning': layer.useThirdPartyData
      }">
    <div class="ga-layer-infos">
      <button class="ga-icon ga-btn icon-remove-sign"
              ng-click="removeLayer(layer)"></button>
      <label class="ga-checkbox">
        <input type="checkbox" ng-model="layer.visible" />
        <span></span>
        {{layer.label}}
      </label>
      <div class="ga-layer-time" ng-if="layer.timeEnabled">
        <button class="ga-btn badge" tabindex="1"
                ng-class="isDefaultValue(layer.time)"
                ng-click="displayTimestamps($event, layer)">{{layer.time | gaTimeLabel:layer}}
        </button>
        <select ng-if="mobile"
                ng-model="layer.time"
                ng-change="setLayerTime(layer)"
                ng-options="(i | gaTimeLabel:layer) for i in layer.timestamps"></select>
      </div>
      <button class="ga-icon ga-btn icon-user"
              ng-click="showWarning(layer)"></button>
      <!--button ng-if="isBodLayer(layer)" class="ga-icon ga-btn icon-info-sign"
              ng-click="displayLayerMetadata($event, layer)"></button-->
    </div>
    <div class="ga-layer-tools">
      <label>
        <div translate>transparency</div>&nbsp;
        <input  ng-if="useRange" type="range" min="0" max="1" step="0.05" value="1" ng-model="layer.invertedOpacity"/>
        <select ng-if="!useRange"  ng-model="layer.invertedOpacity" ng-options="i.key as i.value for i in opacityValues">
        </select>
      </label>
      <div class="ga-layer-ordering">
        <button ng-if="layer.timeEnabled" class="ga-icon ga-btn icon-copy"
                ng-click="duplicateLayer($event, layer)"></button>
        <button class="ga-icon ga-btn icon-arrow-up"
                ng-disabled="$first"
                ng-click="moveLayer($event, layer, 1)"></button>
        <button class="ga-icon ga-btn icon-arrow-down"
                ng-disabled="$last"
                ng-click="moveLayer($event, layer, -1)"></button>
        <button ng-if="isBodLayer(layer)" class="ga-icon ga-btn icon-info-sign"
                ng-click="displayLayerMetadata($event, layer)"></button>
      </div>
    </div>
    <button class="ga-icon icon-gear"></button>
  </li>
</ul>

