<div class="ga-measure">
  <div class="ga-measure-panel"> 
    <div class="ga-measure-text">
      <div class="hidden-print ga-measure-info" translate>measure_instruction</div>
      <div class="ga-measure-info">
        <p class="pull-left">{{'distance_label' | translate}}: </p> 
        <p class="pull-right">{{distance | measure}}</p>
      </div>
      <div class="ga-measure-info">
        <p class="pull-left">{{'surface_label' | translate}}: </p>
        <p class="pull-right">{{surface | measure:'area':['km&sup2', ' m&sup2']}}</p>
      </div>
      <div class="ga-measure-info">
        <p class="pull-left">{{'azimuth_label' | translate}}: </p>
        <p class="pull-right">{{azimuth | number:2}} &deg</p>
      </div>
    </div>
  </div>
  <div ng-show="options.isProfileActive" ga-profile ga-profile-options="options.profileOptions"></div>
  <div class="ga-measure-buttons-panel" class="hidden-print">
    <div>
      <button ng-click="options.isProfileActive = !options.isProfileActive"
      class="btn btn-default ga-measure-profile-bt ga-measure-button" data-loading-text="{{'wait_data_loading' |translate}}">{{(options.isProfileActive ? 'hide_profile' : 'display_profile') | translate}}</button></div>
    <div>
      <button class="btn btn-default ga-measure-button"
              ng-disabled="!canExport()"
              ng-if="supportKmlExport"
              ng-click="exportKml()"
              translate>export_kml
      </button>
    </div>
  </div>
</div>
