<div class="modal fade">
  <div class="modal-dialog" ng-style="contentWidth">
    <div class="modal-content">
      <div class="modal-header">
         <h4 class="modal-title" translate>embed_map</h4>
         <button class="ga-icon ga-btn fa fa-remove" data-dismiss="modal"></button>
      </div>
      <div class="modal-body" ng-class="{'ga-user-size': !iframeSize}">
        <div class="input-modal-container">
          <select ng-model="iframeSize" ng-options="size.value as size.label | translate for size in iframeSizes">
          </select>
          <div class="form-inline">
            <input type="text" ng-model="iframeWidth" />
            <label>X</label>
            <input type="text" ng-model="iframeHeight" />
            <a href="" translate>share_preview</a>
          </div>
          <div class="ga-embed-input-modal input-group input-group-sm"
               ga-share-copy-input-group
               ga-share-on-before-copy="updateEmbedValueFromIframe()">
            <input type="text" class="form-control ga-embed-input"
                   value="<iframe src='{{embedValue}}' width='{{iframeWidth}}' height='{{iframeHeight}}' frameborder='0' style='border:0'></iframe>"
                   ga-share-copy-input></input>
            <span class="input-group-btn">
              <button class="btn btn-default" ga-share-copy-bt></button>
            </span>
          </div>
        </div>
        <iframe ng-if="loadIframe"
                ng-src="{{::embedValue}}"
                width="{{iframeWidth}}"
                height="{{iframeHeight}}"
                frameborder="0">
        </iframe>
        <div translate>share_disclaimer</div>  
      </div>
    </div>
  </div>
</div>

