<div class="ga-share-icons">
  <a class="ga-share-icon" target="_blank"
    data-original-title="{{'qrcode_tooltip' | translate}}"
    ng-href="{{qrcodegeneratorPath}}?url={{encodedPermalinkHref}}">
    <i class="icon-qrcode"></i>
  </a>

  <a class="ga-share-icon" target="_blank"
    data-original-title="{{'twitter_tooltip' | translate}}"
    ng-href="https://twitter.com/intent/tweet?url={{encodedPermalinkHref}}&text={{encodedDocumentTitle}}">
    <i class="icon-twitter"></i>
  </a>

  <a class="ga-share-icon" target="_blank"
    data-original-title="{{'facebook_tooltip' | translate}}"
    ng-href="http://www.facebook.com/sharer.php?u={{encodedPermalinkHref}}&t={{encodedDocumentTitle}}">
    <i class="icon-facebook"></i>
  </a>

  <a class="ga-share-icon" target="_blank"
    data-original-title="{{'google_plus_tooltip' | translate}}"
    ng-href="https://plus.google.com/share?url={{encodedPermalinkHref}}">
    <i class="icon-google-plus"></i>
  </a>

  <a class="ga-share-icon" target="_blank"
    data-original-title="{{'mail_tooltip' | translate}}"
    ng-href="mailto:?body={{encodedPermalinkHref}}">
    <i class="icon-envelope-alt"></i>
  </a>
</div>

<div class="input-group input-group-sm ga-share-permalink">
  <input type="text" ng-model="permalinkValue" ng-click="selectOnClick($event)" class="form-control">
  <span class="input-group-btn">
    <button class="btn btn-default" ng-disabled="urlShortened"
            ng-click="shortenUrl()" translate>shorten_url</button>
    </span>
</div>
