<div class="modal fade">
  <div class="modal-dialog" ga-draggable=".modal-header">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" translate>share</h4>
        <button type="button" class="ga-icon ga-btn fa fa-remove" data-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <div class="ga-draw-interaction-share">
          <div class="ga-share-permalink">
            <div class="form-group">
              <label translate>{{'draw_share_user_link'}}:</label>
              <div class="input-group input-group-sm" ga-share-copy-input-group>
                <input type="text"
                       class="form-control"
                       ng-model="userShareUrl"
                       ga-share-copy-input data-placement="top">
                <span class="input-group-btn">
                  <button class="btn btn-default"
                          ga-share-copy-bt>
                  </button>
                </span>
              </div>
            </div>
            <div class="form-group">
              <label translate>{{'draw_share_admin_link'}}:</label>
              <div class="input-group input-group-sm" ga-share-copy-input-group>
                <input type="text"
                       class="form-control"
                       ng-model="adminShareUrl"
                       ga-share-copy-input data-placement="top">
                <span class="input-group-btn">
                  <button class="btn btn-default"
                          ga-share-copy-bt>
                  </button>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

