<div class="time-selector-container">
  <!--div>
    <select ng-model="currentYear" ng-options="year.value for year in availableYears" ng-change="onChangeYear()">
      <option value="" selected>-- last-available-year --</option>
    </select>
    <div ga-slider class="time-selector-slider" 
        floor="{{minYear}}" 
        ceiling="{{maxYear}}"
        ng-model="currentYear2"
        ga-slider-data="years">
    </div>
    <div class="time-selector-mask" ng-class="stateClass" ng-click="toggle()"></div>
  </div-->
  <button translate ng-click="toggle()" ng-class="stateClass">activate_time_selector</button>
</div>

