<div class="time-selector-container" ng-class="stateClass" >
  <div ga-slider class="time-selector-slider" 
      floor="{{minYear}}" 
      ceiling="{{maxYear}}"
      ng-model="currentYear"
      translate2="formatYear"
      ga-data="years"
      ga-keyboard-events="isActive"
      ga-magnetize="true"
      ga-input-text="true"
      ga-unfit-to-bar="true">
  </div>
  <a href="#" class="icon-time icon-2x" ng-click="toggle()"></a>
  <div class="time-selector-mask" ng-click="toggle()"></div>
</div>

