<div class="ga-draw-buttons">
  <button ng-repeat="tool in options.tools"
          ng-click="toggleTool($event, tool)"
          ng-class="{
              'btn-default': !options[tool.activeKey], 
              'btn-danger': options[tool.activeKey]
          }"
          class="btn">
    <i class="{{tool.cssClass}}"></i>
    <span translate>{{tool.title}}</span>
  </button>
</div>
<div ng-if="!options.useTemporaryLayer" class="ga-draw-info-save">
  <span class="ga-success" translate="{{statusMsgId}}"></span>
</div>
<hr>
<div class="ga-more" ng-show="::!options.noMoreFunctions">
  <ul class="list-inline row">
    <li class="col-sm-4 col-xs-4 vr">
      <a href="" class="btn"
         ng-disabled="!canExport()"
         ng-click="deleteAllFeatures($event)"
         translate>draw_delete</a>
    </li>
    <li class="col-sm-4 col-xs-4 vr">
      <a href="" class="btn"
         ng-disabled="!canExport()"
         ng-click="exportKml($event)"
         translate>export_kml</a>
    </li>
    <li class="col-sm-4 col-xs-4">
      <a href="" class="btn"
         ng-disabled="!canExport()"
         ng-click="share($event)"
         translate>share</a>
    </li>
  </ul>
</div>
<hr>
<div class="ga-draw-disclaimer" ng-if="!options.useTemporaryLayer" translate>share_file_disclaimer</div>

<!-- POPUP FOR PROFILE/MEASURE/STYLE UPDATE -->
<div ng-if="::!options.noStyleUpdate">
  <div class="ga-draw-popup"
       ga-popup="options.popupToggle"
       ga-popup-options="options.popupOptions"
       ng-class="{
         'ga-profile-active': options.isProfileActive,
         'ga-tabs': (feature && showTabs(feature))
       }">
    <ul class="nav nav-tabs" role="tablist" ng-if="feature && showTabs(feature)">
      <li ng-show="showPropsTab(feature)">
        <a href=""
           ng-click="activeTabProps()"
           ng-class="{'ga-active': isPropsActive}"
           translate>draw_type_marker</a>
      </li>
      <li ng-show="showMeasureTab(feature)">
        <a href=""
           ng-click="activeTabProfile()"
           ng-class="{'ga-active': options.isProfileActive}"
           translate>draw_show_profile</a>
      </li>
      <li ng-show="showProfileTab(feature)">
        <a href=""
           ng-click="activeTabMeasure()"
           ng-class="{'ga-active': isMeasureActive}"
           translate>draw_show_measure</a>
      </li>
    </ul>

    <div ng-if="isPropsActive" class="ga-draw-modify">
      <label ng-if="useIconStyle || !options.useTextStyle">
        <span translate>{{'modify_description'}}:</span>
        <textarea class="form-control" ng-model="options.description"></textarea>
      </label>

      <label class="ga-checkbox" ng-if="useIconStyle">
        <input type="checkbox" ng-model="options.useTextStyle"></input>
        <span></span>
        <span translate>{{'add_text_label'}}</span> 
      </label>

      <label ng-if="options.useTextStyle">
        <span translate>{{'modify_text_label'}}:</span> 
        <textarea class="form-control" ng-model="options.name"></textarea>
      </label>
      <label ng-if="options.useTextStyle">
        <span translate>{{'modify_text_color_label'}}:</span> 
        <div class="ga-select-box ga-select-colors ga-item-size-{{options.iconSize.value[0]}}"
             ng-class="{'ga-select-box-open': gaSelectBoxOpen}">
          <div ng-repeat="c in options.colors"
               ng-class="{'ga-selected': (options.textColor == c)}" 
               ng-click="options.textColor = c">
            <div ng-style="{
              color: c.name,
              font: options.font,
              'text-shadow': '-1px -1px 0 ' + c.border + ',' +  
                  '1px -1px 0 ' + c.border + ',' + 
                  '-1px 1px 0 ' + c.border + ',' +
                  '1px 1px 0 ' + c.border
            }">
            Aa
            </div> 
          </div>
        </div>
      </label>

      <label ng-if="useColorStyle">
        <span translate>{{'modify_color_label'}}:</span> 
        <div class="ga-select-box ga-select-colors ga-item-size-{{options.iconSize.value[0]}}"
             ng-class="{'ga-select-box-open': gaSelectBoxOpen}">
          <div ng-repeat="c in options.colors"
               ng-class="{'ga-selected': (options.color == c)}" 
               ng-click="options.color = c">
            <div ng-style="{
              'background-color': c.name,
              border: (options.useTextStyle ? '1px solid ' + c.border : '')
            }">
            </div> 
          </div>
        </div>
      </label>
      <div ng-if="useIconStyle">
        <label>
          <span translate>{{'modify_icon_size_label'}}:</span> 
          <select ng-model="options.iconSize" ng-options="s.label | translate for s in options.iconSizes">
          </select>
        </label>
        
        <label>
          <span translate>{{'modify_color_icon_label'}}:</span>
          <div class="ga-select-box ga-select-colors">
            <div ng-repeat="c in options.colors"
                 ng-class="{'ga-selected': (options.iconColor == c)}" 
                 ng-click="options.iconColor = c">
              <div ng-style="{
                'background-color': c.name,
              }">
              </div> 
            </div>
          </div>
        </label>
 
        <label class="ga-icons">
          <span translate>{{'modify_icon_label'}}:</span> 
          <div class="ga-select-box ga-select-icons ga-item-size-{{options.iconSize.value[0]}}"
               ng-class="{'ga-select-box-open': gaSelectBoxOpen}"
               ng-style="{color:options.iconColor.name}">
            <i tabindex=1 ng-repeat="i in options.icons"
               class="ga-icon-draw fa fa-maki-{{i.id}}"
               ng-click="options.icon = i;$event.preventDefault();"></i>
            <button class="ga-icon fa fa-caret-down"
                    ng-click="gaSelectBoxOpen=!gaSelectBoxOpen"></button>
          </div>
        </label>
      </div>
    </div>
    <div ng-if="isMeasureActive"
         ga-measure-infos="feature"
         ga-measure-infos-options="options.measureOptions"></div>
    <div ng-if="options.isProfileActive"
         ga-profile="feature" 
         ga-profile-map="map"
         ga-profile-options="options.profileOptions"></div>
  </div>
</div>

