<div class="ga-draw-buttons">
  <button ng-repeat="tool in options.tools"
          ng-click="toggleTool($event, tool)"
          ng-class="{'active': options[tool.activeKey]}"
          class="btn btn-default btn-sm">
    <i class="{{tool.cssClass}}"></i>
    <span translate>{{tool.title}}</span>
  </button>
  <div class="ga-more">
    <button class="btn btn-default btn-sm dropdown-toggle"
            data-toggle="dropdown" data-container="body"
            aria-expanded="false">
      <span translate>draw_more</span>
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li><a href="" class="btn"
             ng-disabled="!canExport()"
             ng-click="exportKml($event)"
             translate>draw_dl_kml</a></li>
      <li class="divider"></li>
      <li><a href="" class="btn"
             ng-disabled="!canExport()"
             ng-click="deleteSelectedFeature()"
             translate>draw_del_selected_features</a>
      </li>
      <li><a href="" class="btn"
             ng-disabled="!canExport()"
             ng-click="deleteAllFeatures()"
             translate>draw_del_all_features</a>
      </li>
    </ul>
  </div>
</div>

<div class="ga-draw-popup"
     ga-popup="popupToggle"
     ga-popup-options="options.popupOptions"
     ng-class="{'ga-profile-active': options.isProfileActive}">
  <ul class="nav nav-tabs" role="tablist" ng-if="feature && showTabs(feature)">
    <li ng-show="showPropsTab(feature)">
      <a href=""
         ng-click="activeTabProps()"
         ng-class="{'ga-active': isPropsActive}"
         translate>draw_type_marker</a>
    </li>
    <li ng-show="showMeasureTab(feature)">
      <a href=""
         ng-click="activeTabProfile()"
         ng-class="{'ga-active': options.isProfileActive}"
         translate>draw_show_profile</a>
    </li>
    <li ng-show="showProfileTab(feature)">
      <a href=""
         ng-click="activeTabMeasure()"
         ng-class="{'ga-active': isMeasureActive}"
         translate>draw_show_measure</a>
    </li>
  </ul>
  <div ng-if="isPropsActive" class="ga-draw-modify">
    <label ng-if="useTextStyle">
      <span translate>{{'modify_text_label'}}:</span> 
      <input type="text" class="form-control" ng-model="options.name"/>
    </label>
    
    <label ng-if="!useTextStyle">
      <span translate>{{'modify_description'}}:</span> 
      <textarea class="form-control" ng-model="options.description"/>
    </label>

    <label ng-if="useColorStyle">
      <span translate>{{'modify_color_label'}}:</span> 
      <div class="ga-select-box ga-select-colors ga-item-size-{{options.iconSize.value[0]}}"
           ng-class="{'ga-select-box-open': gaSelectBoxOpen}">
        <div ng-repeat="c in options.colors"
             ng-class="{'ga-selected': (options.color == c)}" 
             ng-click="options.color = c">
          <div ng-style="{
            'background-color': c.name,
            border: (useTextStyle ? '1px solid ' + c.border : '')
          }">
          </div> 
        </div>
      </div>
    </label>
    <label class="ga-icons" ng-if="useIconStyle">
      <span translate>{{'modify_icon_label'}}:</span> 
      <div class="ga-select-box ga-select-icons ga-item-size-{{options.iconSize.value[0]}}"
           ng-class="{'ga-select-box-open': gaSelectBoxOpen}">
        <img tabindex=1 draggable="false" 
             ng-repeat="i in options.icons" 
             ng-class="{'ga-selected': (options.icon == i)}" 
             ng-src="{{i.url}}"
             ng-click="options.icon = i;$event.preventDefault();"/> 
      <button class="ga-icon icon-caret-down"
              ng-click="gaSelectBoxOpen=!gaSelectBoxOpen"></button>
        </div>
    </label>

  </div>
  <div ng-if="isMeasureActive"
       ga-measure-infos="feature"
       ga-measure-infos-options="options.measureOptions"></div>
  <div ng-if="options.isProfileActive"
       ga-profile="feature" 
       ga-profile-map="map"
       ga-profile-options="options.profileOptions"></div>

  <div ng-if="isPropsActive" class="ga-draw-info-save">
    <span ng-show="isSaved" class="ga-success" translate>draw_file_saved</span>
    <span ng-show="!isSaved" translate>draw_file_saving</span>
  </div>

</div>
<div class="ga-draw-disclaimer" ng-if="!options.useTemporaryLayer" translate>share_file_disclaimer</div>
  <div class="ga-draw-interaction-share" ng-if="adminShortenUrl">
  <div>
    <b translate>share_file_link_title_admin</b>
  </div>
  <span translate>share_file_link_descr_admin</span>
  <a target="_blank" href="{{adminShortenUrl}}">{{adminShortenUrl}}</a>
</div>
