[ga-swipe] {

  .ga-swipe-arrows i:first-child {
    .rotate(180deg);
  }

  .ga-swipe {
    position: absolute;
    width: 32px;
    height: 100%;
    top: 0px;
    left: 50%;
    z-index: 990; 
    cursor: w-resize; 
  }

  .ga-swipe-line {
    position: absolute;
    width: 4px;
    height: 100%;
    left: 50%;
    margin-left: -2px;
    background-color: red;
  }

  .ga-swipe-arrows {
    position: absolute;
    width: 32px;
    height: 32px;
    left: 0px;
    top: 50%;
    margin-top: -16px;
    padding: 5px 4px;
    background-color: red;

    div {
      display: inline-block;
      width: 0; 
      height: 0; 
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
    }

    .ga-arrow-right{
      border-left: 10px solid white;
    }

    .ga-arrow-left {
      border-right: 10px solid white;
    }
  }

  .ga-swipe-layer-label {
    display: none;
    position: absolute;
    width: 120px;
    bottom: 55px;
    right: 30px;
    padding: 5px 3px; 
    font-size: 11px;
    font-weight: bold;
    background-color: white;
    
    &:before {
      padding-right: 3px;
    }
    
    @media (max-width: @screen-tablet), (max-height: @screen-sm-max-height) {
      bottom: 20px;
    } 
  }
}
