<!DOCTYPE html>
<html ng-app='ga_draggable_example'>
  <head>
    <title>Draggable Directive Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">
    <base href="../../../">
    <link href="style/app.css" rel="stylesheet" media="screen">
    <style>
      #elt-draggable {
        width: 600px;
        height: 400px;
        top: 150px; 
        left: 150px;
        position: absolute;
        border: 5px white dashed;
        cursor: move;
        background-color: black;
        color: white;
        font-weight: bold;
        font-size: 32px;
      }
   </style>
  </head>
  <body>
    <div id="elt-draggable" ga-draggable> DRAG ME </div>
    
    <script src="lib/jquery-2.0.2.js"></script>
    <script src="lib/angular-1.1.5.js"></script>
    <script src="lib/bootstrap-3.0.0.js"></script>
    <script>
      window.CLOSURE_NO_DEPS = true;
    </script>
    <script src="lib/ol-whitespace.js"></script>    
    <script src="deps.js"></script>
    <script>
      goog.require('ga_draggable');
    </script>
    <script>
      (function() {
        var module = angular.module('ga_draggable_example', [
          'ga_draggable'
        ]);
      })();
    </script>
  </body>
</html>
