<!DOCTYPE html>
<html ng-app='ga_search_example'>
  <head>
    <title>Search Component Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">
    <base href="../../../">
    <script>
      function toAbsURL(s) {
        var l = location, h, p, f, i;
        if (/^\w+:/.test(s)) {
          return s;
        }
        h = l.protocol + '//' + l.host;
        if (s.indexOf('/') == 0) {
          return h + s;
        }
        p = l.pathname.replace(/\/[^\/]*$/, '');
        f = s.match(/\.\.\//g);
        if (f) {
          s = s.substring(f.length * 3);
          for (i = f.length; i--;) {
            p = p.substring(0, p.lastIndexOf('/'));
          }
        }
        return h + p + '/' + s;
      }
    </script>
    <!--[if IE]>
    <script>
      (function() {
        var base = document.getElementsByTagName('base')[0];
        base.href = toAbsURL(base.href);
      })();
    </script>
    <![endif]-->
    <link href="style/app.css" rel="stylesheet" media="screen">
    <style>
      #map {
        width: 720px;
        height: 400px;
        top: 360px;
        margin: 10px;
      }
      .twitter-typeahead {
        width: 720px;
      }
    </style>
  </head>
  <body ng-controller="MainController">
    <div ng-controller="SearchController">
      <div id="search-input"
           ga-search
           ga-search-map="map"
           ga-search-options="options"
           ga-search-focused="globals.searchFocused">
      </div>
    </div>
    <div id="map" class="map" ga-map ga-map-map="map"></div>

    <script src="lib/jquery-2.0.3.js"></script>
    <script src="lib/angular-1.2.9.js"></script>
    <script src="lib/angular-translate-1.1.1.js"></script>
    <script src="lib/angular-translate-loader-static-files-0.1.5.js"></script>
    <script src="lib/bootstrap-3.0.0.js"></script>
    <script src="lib/typeahead-0.9.3.js"></script>
    <script src="lib/proj4js-compressed.js"></script>
    <script src="lib/EPSG21781.js"></script>
    <script>
      window.CLOSURE_NO_DEPS = true;
    </script>
    <script src="lib/ol-whitespace.js"></script>
    <script src="deps.js"></script>
    <script>
      goog.require('ga_map');
      goog.require('ga_search');

      (function() {
        var module = angular.module('ga_search_example', [
          'ga_search',
          'ga_map'
        ]);

        module.constant('gaGlobalOptions', {
          serviceUrl: 'http://mf-chsdi3.dev.bgdi.ch',
          baseUrlPath: 'http://mf-geoadmin3.dev.bgdi.ch/main'
        });
        
        module.config(['gaLayersProvider', function(gaLayersProvider) {
          gaLayersProvider.wmtsGetTileUrlTemplate =
              'http://wmts{0-4}.geo.admin.ch/1.0.0/{Layer}/default/' +
              '{Time}/21781/{TileMatrix}/{TileRow}/{TileCol}.{Format}';

          gaLayersProvider.layersConfigUrlTemplate =
              'http://mf-chsdi3.dev.bgdi.ch/rest/services/{Topic}/MapServer/layersConfig' +
              '?lang={Lang}';
        }]);

        module.controller('MainController', ['$scope',
            'gaLayers', function($scope, gaLayers) {

          var swissExtent = [485869.5728, 76443.1884, 837076.5648, 299941.7864];
          var swissProjection = ol.proj.configureProj4jsProjection({
            code: 'EPSG:21781',
            extent: swissExtent
          });

          var resolutions = [650.0, 500.0, 250.0, 100.0, 50.0, 20.0, 10.0, 5.0, 2.5,
            2.0, 1.0, 0.5, 0.25, 0.1];

          var map = new ol.Map({
            controls: ol.control.defaults({
              attribution: false
            }),
            renderer: ol.RendererHint.CANVAS,
            view: new ol.View2D({
              projection: swissProjection,
              center: ol.extent.getCenter(swissExtent),
              resolution: 500.0,
              resolutions: resolutions
            })
          });

          $scope.map = map;
          gaLayers.loadForTopic('inspire', 'en').then(function() {
            map.addLayer(gaLayers.getOlLayerById('ch.swisstopo.swissimage'));
          });
        }]);
       
        module.controller('SearchController',
            ['$scope', 'gaGlobalOptions',
              function($scope, gaGlobalOptions) {
                $scope.options = {
                  serviceUrl: gaGlobalOptions.serviceUrl +  '/rest/services/' +
                      'inspire/SearchServer?',
                  applyTopicToUrl: function (url, topic) {
                    return url; 
                  }
                };
        }]);
     })();
    </script>
  </body>
</html>
