[ga-share] {
  
  div a {
    color: red;
  }

  iframe {
    border: 1px solid #b2b2b2;
    transition: all 1s ease;
  }

  select {
    width: auto;
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 5px;
  }

  .modal-content, .modal.in .modal-dialog, iframe {
    transition: all 1s ease;
  }

  .modal-dialog {
    width: auto;
    left: 0%;
  }

  .form-inline {
    display: none;

    label, input {
      display: inline-block;
      width: 75px;
    }

    label {
      width: 20px;
      text-align: center;
    }

    a {
      margin-left: 15px;
    }
  }

  .input-group button {
    width: 100px;
  }

  .ga-embed-input {
    display: inline-block;
    margin-bottom: 5px; 
    width: ~"calc(100% - 170px)";
  }

  .ga-share-icons, .ga-share-permalink {
    margin-bottom: 15px;
  }

  .ga-share-icon {
    display: inline-block;
    padding: 0 6px;
    color: #474949;
    font-size: 24px;

    &:hover, &:focus {
      color: #3a3c3c;
      text-decoration: none;
    }
  }

  .ga-user-size {
    .ga-embed-input {
      display: block;
      width: 100%;
    }
    iframe {
      display: none;
    }
    .form-inline {
      display: inline-block;
    }
  }

  .ga-share-embed {
    @media (max-width: @screen-tablet) {
      .input-group {
        width: 100%;
      }
      .input-group-btn {
        display: none;
      }
    }
  }

}

