[ga-attribution] {
    
  .ol-attribution {
    
    button {
      display: none;
    }

    ul {
      margin: 0;
      padding: 0;
    }
    
    li {
      list-style-type: none;
      display: inline;
      
      &:last-child {
        
        &:after {
          content: '';
        }
      }
      
      &:after {
        content: ', ';
      }
    }
  }

  .ga-warning-tooltip {
    cursor: pointer;
    color: red;
  }
  
  .tooltip {
    opacity: 1;

    .tooltip-inner {
      background-color: #ed1c24;
    }
    .tooltip-arrow {
      border-top-color: #ed1c24;
    }
  }
}
