<div class="ngeo-header-group" 
     ng-class="{
       'ngeo-odd': $odd,
       'ngeo-invalid': layer.isInvalid,
       'ngeo-selected': (options.layerSelected === layer)}"
     ng-mouseenter="addPreviewLayer($event, layer)"
     ng-mouseleave="removePreviewLayer($event)"
     ng-click="toggleLayerSelected($event, layer)" >
  <button class="fa fa-zoom-in ngeo-btn" ng-disabled="!(layer.extent)"></button>
  <button class="fa fa-plus" ng-hide="!(layer.Layer)"></button>
  {{layer.Title}}
</div>
<ul class="ngeo-child-group" ng-if="!!(layer.Layer)">
  <li ng-repeat="layer in layer.Layer | orderBy:'Title'">
    <div ngeo-wms-get-cap-item></div>
  </li>
</ul>
 
