@import "ga_bootstrap.less";
@import "font-awesome-4.5.0/less/font-awesome.less";
@import "bootstrap-datetimepicker.less";
@import "window.less";
@import "../components/map/style/map.less";
@import "../components/map/style/cesiuminspector.less";
@import "../components/geolocation/style/geolocation.less";
@import "../components/rotate/style/rotate.less";
@import "../components/print/style/print.less";
@import "../components/scaleline/style/scaleline.less";
@import "../components/attribution/style/attribution.less";
@import "../components/share/style/share.less";
@import "../components/share/style/share-draw.less";
@import "../components/share/style/share-embed.less";
@import "../components/contextpopup/style/contextpopup.less";
@import "../components/feedback/style/feedback.less";
@import "../components/topic/style/topic.less";
@import "../ngeo/src/modules/import/style/importonline.less";
@import "../ngeo/src/modules/import/style/importlocal.less";
@import "../ngeo/src/modules/import/style/importdnd.less";
@import "../ngeo/src/modules/import/style/owsgetcap.less";
@import "../ngeo/src/modules/import/style/owsgetcapitem.less";
@import "../components/import/style/import.less";
@import "../components/popup/style/popup.less";
@import "../components/profile/style/profile.less";
@import "../components/catalogtree/style/catalogtree.less";
@import "../components/search/style/search.less";
@import "../components/tooltip/style/tooltip.less";
@import "../components/slider/style/slider.less";
@import "../components/timeselector/style/timeselector.less";
@import "../components/backgroundselector/style/backgroundselector.less";
@import "../components/swipe/style/swipe.less";
@import "../components/featuretree/style/featuretree.less";
@import "../components/measure/style/measure.less";
@import "../components/layermanager/style/layermanager.less";
@import "../components/draw/style/draw.less";
@import "../components/draw/style/drawstyle.less";
@import "../components/help/style/help.less";
@import "../components/offline/style/offline.less";
@import "../components/query/style/query.less";
@import "../components/timestampcontrol/style/timestampcontrol.less";
@import "../components/translation/style/translation.less";
@import "../components/tilt3d/style/tilt3d.less";
@import "../components/controls3d/style/controls3d.less";
@import "../components/shop/style/shop.less";
@import "../components/shop/style/shopmsg.less";
@import "../components/shop/style/shoprectangle.less";
@import "../components/tabs/style/tabs.less";


@cdbund-margin: 12;
@header-height: 89;
@footer-height: 26;
@small-header-height: 50;
@bt-bottom: 51;
@bt-bottom-sm: 26;

@screen-xs-height: 480px;
@screen-s-height: 600px;
@screen-m-height: 800px;

@tooltip-bg: #999;
@pulldown-width: 320;
@control-btn-size: 44;
@control-btn-size-px: unit(@control-btn-size, px);
@control-btn-space: 7;
@control-btn-next: @control-btn-size + @control-btn-space;
@control-btns-top: @control-btn-space;
@control-btns-right: @control-btn-space;

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;

}

// Remove 300ms click delay on IE > 10
// See: http//patrickhlauke.github.io/touch/tests/results/#suppressing-300ms-delay
button, a, .ga-bg-layer, .ga-bg-layer-bt {
  touch-action: manipulation;
  -ms-touch-action: manipulation;
}

.has-error {

  input[type=url] {
    background-color: #f2dede!important;
  }

  .ga-message {
    color: red;
  }
}

.ga-visible-3d {
  display: none !important;
}

.ga-3d-active {
  .ga-visible-3d {
    display: block !important;
  }
  .ga-hidden-3d {
    display: none !important;
  }
}

.ga-draw-modifying {
  #draw-style-popup:not(.ga-popup-reduced) {
    display: none!important;
  }
}

input::-ms-clear {
  display: none;
}

form {

  input.ng-invalid.ng-dirty {
    background-color: #FA787E;
  }

  input.ng-valid.ng-dirty {
    background-color: white;
  }
}

.ga-pointer {
  cursor: pointer;
}

.ga-drag,
.ga-grab {
  // Fallback for IE
  cursor: data-uri('../img/grab.cur'), move;
  cursor: -webkit-grab;
  cursor: grab;
}

.ga-dragging,
.ga-grabbing {
  // Fallback for IE
  cursor: data-uri('../img/grabbing.cur'), move;
  cursor: -webkit-grabbing;
  cursor: grabbing;
}


.ga-red-tooltip {
  opacity: 1;

  .tooltip-inner {
    background-color: #ed1c24;
  }

  &.top .tooltip-arrow {
    border-top-color: #ed1c24;
  }

  &.right .tooltip-arrow {
    border-right-color: #ed1c24;
  }

  &.bottom .tooltip-arrow {
    border-bottom-color: #ed1c24;
  }

  &.left .tooltip-arrow {
    border-left-color: #ed1c24;
  }
}


button.ga-btn, button.ngeo-btn, .ol-control button {
  position: relative;

  i {
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    color: #343434;
  }

  .fa-ga-circle-bg {
    color: #fff;
  }

  &.ga-btn-disabled, &.ngeo-btn-disabled {

    i {
      color: #545454;
    }

    .fa-ga-circle-bg {
      color: #d3d3d3;
    }
  }

  &.ga-btn-active, &.ngeo-btn-active {

    i {
      color: #ed1c24;
    }

    .fa-ga-circle-bg {
      color: #fff;
    }
  }
}

.cadastre.de, .cadastre.fr {
   #catalogHeading {
       &[aria-expanded="true"] span {
           letter-spacing: -0.4px;
       }
       [ga-help] {
         display: none;
       }
   }
}

.cadastre.it #catalogHeading[aria-expanded="true"] {
  [ga-help] {
    display: none;
  }
}


/* This allow the display of not-allowed cursor on hover */
.btn[disabled], &.ga-btn-disabled, &.ngeo-btn-disabled {
  pointer-events: auto;
}

button.ga-icon, &.ga-btn-disabled, &.ngeo-btn-disabled {
  width: 1.3em;
  margin: 0;
  padding: 0;
  border: 0;
  background-color: transparent;
  font-size: 1.3em;
  line-height: 1em; /* Critical css for alignment */

  &[disabled] {
    color: #CCC;
    cursor: not-allowed;
    opacity: 1;
  }

  @media (max-width: @screen-tablet), (max-height: @screen-s-height) {
    font-size: 2.2em;
    width: 1em;
  }
}

button.ga-btn, button.ngeo-btn, .ol-control button {

  &[disabled], &.ga-btn-disabled, &.ngeo-btn-disabled {
    cursor: not-allowed;
  }

  &:not([disabled]) {
    transition: transform .2s;

    &:hover {
      opacity: 0.7;
    }
    &:active {
      .scale(1.2);
    }
  }
}

.touch {
  button.ga-btn, button.ngeo-btn, .ol-control button {
    &:hover {
      opacity: 1;
    }
  }

  &.webkit {
    position: absolute; // iOS: Hide the menu so we can't see it when the rubberband effect happens
  }
}

.ga-truncate-text {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;

  /* IE9+FontAwesome hack: https://github.com/FortAwesome/Font-Awesome/issues/1079*/
  &:before {
    content: "";
  }
}

.ga-no-result {
  width: 100%;
  color: lightgray;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
}

.ga-full-screen {

  #header {
    background-color: transparent;
    box-shadow: none;
    width: 550px;
    margin-bottom: 0px;

    .pull-right > div {
      display: none;
    }
  }

  #search-container {
    width: 80%;

    a {
      background-color: rgba(255, 255, 255, 1);
      border-radius: 3px;
      padding: 1px 6px;
    }
  }

  &.ga-full-screen-no-inputs #search-container,
  #logo, #toptools, #pulldown, #footer {
    display: none;
  }
}

.ga-draw-active {

  #header {
    top: unit(-@header-height, px);
  }

  #draw .panel-body {

    @media (max-width: @screen-phone) {
      padding-top: 0;
      padding-bottom: 5px;
    }
  }

  #drawModeHeader {
    top: 0px;
  }

  #buttonGroup, #pulldown {
    top: unit(@small-header-height, px);
  }

  #pulldown-content .panel-heading, #search-container {
    display: none;
  }

  #pulldown-content {
    top: unit(@small-header-height, px);

    @media (max-width: @screen-phone) {
      top: 0px;
    }
    .panel-body {
      max-height: none;
    }
  }

  #pulldown-content #share {
    @media (max-width: @screen-phone) {
      display: none!important;
    }
  }
}

@keyframes blink {
  0% {opacity: 1}
  50% {opacity: 0.2}
  100% {opacity: 1}
}

.ga-centered {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin: auto;
}

.navbar {
  position: absolute;
}

input[type=search] {
  appearance: none;
}
select, input[type=text], input[type=email], input[type=search] {
  .form-control;
  .input-sm;
}

input[type=text][readonly] {
  cursor: default;
}

// ***** HEADER
.navbar-fixed-top {
  margin: 0;
  transition: 1s ease;
  transition-property: top, height;
  box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.175);
}

.ga-menu-bt {
  display: none;
  position: absolute;
  top: 0px;
  right: 0px;
  width: 50px;
  height: 100%;
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  &:hover, &:active {
    box-shadow: none;
    opacity: 0.5;
  }

  @media (max-width: @screen-phone) {
    display: inline-block;
  }
}

.ga-offline-msg {
  width: 100%;
  height: 100%;
  position: absolute;
  text-align: center;
  top: unit(-@header-height, px);
  transition: transform .5s;
  z-index: 200;
  padding: 0;
  margin: 0;
  line-height: unit(@header-height - 5, px);
  font-weight: normal;

  @media (max-width: @screen-tablet), (max-height: @screen-s-height) {
     line-height: unit(@small-header-height - 5, px);
  }
}

#header {
  top: 0px;
  height: unit(@header-height, px);
  background-color: rgba(255, 255, 255, 0.9);

  @media (max-width: @screen-tablet), (max-height: @screen-s-height) {
    height: unit(@small-header-height, px);
    background: #fff;
  }

  @media (max-width: @screen-phone) {
    [ga-help] {
      display: none;
    }
  }

}

#search-container {
  width: 33%;
  min-width: 250px;
  float: left;
  left: 1.6em;
  position: relative;
  margin-top: 12px;
  z-index: 10; /* Put search on top of the form */

  @media (max-width: @screen-desktop) {
    margin-top: 27px;
  }

  [ga-help] {
    position: absolute;
    padding-left: 10px;
    height: 30px;

    @media (min-width: @screen-desktop) and (min-height: @screen-s-height) {
      top: 21px;
    }
  }

  @media (max-width: @screen-tablet), (max-height: @screen-s-height) {
    margin-top: 0;
    width: 260px;
    top: .7em;
    left: 44px;
    position: absolute;
  }

  @media (max-width: @screen-phone) {
    right: 50px;
    width: auto;
    min-width: initial;
  }
}

.search-focused #search-container {

  @media (max-width: @screen-phone) {
    width: 100%;
    padding: 0;
    left: 0;
    background: #fff;

    input {
      width: 96%;
      margin-left: 2%;
    }

    input, .fa-search {
      margin-left: 2%;
    }

    .fa-remove-sign {
      margin-right: 2%;
    }

    .ga-search-dropdown {
      top: 37px !important;
      border-width: 1px 0;
      padding: 0;
    }
  }
}

.fa-ga-logo-bund {
  color: #f00;
}

.ga-logo {
  position: relative;
  width: 329px;
  height: unit(@header-height, px);
  background: white no-repeat left center;

  @media (max-width: @screen-tablet), (max-height: @screen-s-height) {
    width: 44px;
    height: unit(@small-header-height, px);
  }

  .fa-ga-logo-bund, .ga-logo-text {
    position: absolute;
    top: unit(@cdbund-margin/2, px);
  }

  .fa-ga-logo-bund {
    font-size: 33px;
    left: unit(@cdbund-margin, px);
  }

  .ga-logo-text {
    left: unit(30 + @cdbund-margin*2, px);
    width: 185px;
    height: 57px;
    background: data-uri('../img/logo.textx2.png') no-repeat top left;
    background-size: 187px 135px;

    &[class^="ga-subtitle-"], &[class*=" ga-subtitle-"] {
      top: unit(57 + @cdbund-margin, px);
      height: 12px;
    }
  }

  .ga-subtitle-de {
    background-position: 0 -64px;
  }

  .ga-subtitle-en {
    background-position: 0 -78px;
  }

  .ga-subtitle-fr {
    background-position: 0 -93px;
  }

  .ga-subtitle-it {
    background-position: 0 -107px;
  }

  .ga-subtitle-rm {
    background-position: 0 -120px;
  }
}

#logo {
  display: inline-block;

  @media (max-width: @screen-tablet), (max-height: @screen-s-height) {

    .fa-ga-logo-bund {
      font-size: 21px;
      line-height: 39px;
    }

    .ga-logo-text, .ga-logo-subtitle {
      display: none;
    }
  }
}

.host-not-prod {
  .fa-ga-logo-bund {
    color: blue;
  }

  .ga-logo {
    .ga-logo-text {
      background: data-uri('../img/logo.textx2.notprod.png') no-repeat top left;
    }
  }
}

#toptools {
  position: absolute;
  top: 0.2em;
  right: 2em;
  text-align: right;

  & > div {
    display: inline-block;
  }

  a {
    font-size: 80%;
  }

  @media (max-width: @screen-tablet) and (min-width: 535px) {
    width: ~"calc(100% - 320px)";
    right: 1em;
  }

  @media (max-width: 534px) {
    display: none;
  }
}

// ***** MAP
[ga-map], [ga-background-selector] .ga-voidLayer{
  background: #fff data-uri('../img/mapbg.png') !important;
}

// ***** DRAW MODE HEADER
#drawModeHeader {
  top: unit(-15-@small-header-height, px); //-15 for the shadow
  height: unit(@small-header-height, px);
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  padding: 6px 12px;
  background-color: #e6e6e6;

  .btn-primary {
    margin-top: 1px;
  }
  .btn-primary .fa-arrow-left{
    vertical-align: middle;
  }

  [ga-help] {
    visibility: visible;
    height: 100%;
    float: left;
    width: 30px;
  }

  .ga-title {
    font-size: 2em;
    line-height: 1.7em;
    left: 260px;
    right: 260px;

    @media (max-width: @screen-tablet) {
      left: 260px;
      right: 5px;
      overflow: hidden;
      text-overflow: ellipsis;

      @media (max-width: @screen-phone) {
        left: 50px;
        right: 50px;
      }
    }
  }

  .fa-arrow-left + span {
    padding-left: 5px;

    @media (max-width: @screen-phone) {
      display: none;
    }
  }
}

// ***** FOOTER
#footer {
  min-height: 0;
  font-size: 11px;
  background-color: rgba(214, 214, 214, 0.9);
  padding-left: 12px;
  padding-right: 0;

  & > div  {
    height: unit(@footer-height, px);
    line-height: unit(@footer-height, px);
    margin-right: 1em;
  }

  [ga-scale-line] {
    line-height: 1.5em;
    height: 1.5em;
    margin-top: .4em;
  }

  @media (max-width: @screen-tablet) {
    background: transparent;
    padding-left: 2px;

    & > div {
      display: none;
    }

    [ga-scale-line] {
      display: inline-block;
      position: absolute;
      bottom: 0;
      width: auto;
      height: auto;
      line-height: 1.4em;
      margin: 0;

      .ol-scale-line-inner {
        background: rgba(255,255,255,.7);
        outline: 2px solid rgba(255,255,255,.7);
        font-weight: normal;
        height: 14px;
        line-height: 1em;
      }
    }
  }
}

#mouseposition {
  select {
    height: auto;
    min-height: inherit;
    width: auto;
    font-size: inherit;
    padding: 5px;
  }
  select, [ga-mouse-position] {
    display: inline-block;
  }
}

// ***** SHARED
.separator-mixin {
  content: '';
  border-right: 1px solid #d6d6d6;
  margin: 0 0.2em 0 0.6em;
}
a .ga-icon-separator {
  .separator-mixin;
  display: inline-block;
  width: 1.5em;
}

// ****** PULLDOWN
// Default state is collapsed
#pulldown {

  .ga-pulldown-shadow {
    @media (max-width: @screen-phone) {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 1999;
      top: 0;
      background: #000;
      opacity: 0;
      transform: translate3d(-100%, 0, 0);
      transition: transform 0s .3s, opacity .3s;
      -ms-transform: translateX(-100%); /* IE 9*/
    }
  }

  &.ga-pulldown-shown .ga-pulldown-shadow {
    @media (max-width: @screen-phone) {
      opacity: 0.5;
      transition: opacity .3s;
      transform: translate3d(0, 0, 0);
      -ms-transform: translateX(0); /* IE 9*/
    }
  }

  .fa-caret-down {
    display: inline-block;
    width: 14px;
    height: 14px;
    margin: 0 7px 0 12px;
    text-align: center;
    transition: transform .2s;
    vertical-align: -2px;
  }

  .collapsed .fa-caret-down {
    .rotate(-90deg);
  }

  .panel {
    margin: 0;
    border: none;
    border-radius: 0;
    overflow: visible;
    &:last-child {
      .accordion-toggle.collapsed {
        border-bottom: none;
      }
    }
  }

  .panel-body {
    background-color: #fff;
    border-top: none;
    max-height: 400px;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    font-size: 12px;

    @media (max-height: @screen-m-height) {
      max-height: 300px;
    }

    @media (max-height: @screen-s-height) {
      max-height: 95px;
    }

    @media (max-width: @screen-phone) {
      background-color: rgba(255,255,255,0.9);
      font-size: 14px;
      max-height: none;
    }

    .panel-body {
      padding: 0;
    }
  }

  &.selection-and-catalog-shown {
    .panel-body {
      max-height: 250px;
      @media (max-height: @screen-m-height) {
        max-height: 150px;
      }
      @media (max-width: @screen-phone) {
        max-height: none;
      }
    }
  }
}

.pulldown-hover() {
  &:hover, &:active {
    text-decoration: none;
    color: #666;
    background: #fff;
    .spacer {
      visibility: visible;
    }
  }
}

#pulldown-content {
  position: absolute;
  width: unit(@pulldown-width, px);
  z-index: 600;
  top: unit(@header-height, px);
  box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.175);
  transition: transform .3s, width 0s .3s, top 1s;
  transform: translate3d(0, -100%, 0);
  -ms-transform: translateY(-100%); /* IE 9*/

  @media (max-width: @screen-tablet), (max-height: @screen-s-height) {
    top: unit(@small-header-height, px);
  }

  @media (max-width: @screen-phone) {
    z-index: 2000; /* under popups and  modal */
    top: 0;
    right: 0;
    width: 0;
    max-height: 100%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    transform: translate3d(100%, 0, 0);

    #shareHeading {
      display: none;
    }

    #share {
      display: block!important;
      visibility: visible!important;
      height: auto!important;
    }
  }

  .accordion-toggle, .panel-body-wide a {
    display: block;
    background-color: #fff;
    color: #000;
    text-decoration: none;
    .pulldown-hover;
  }

  > .panel > .panel-heading {
    padding: 10px 10px 10px 0;
    border-radius: 0;

    [ga-help] {
      padding: 0;
      vertical-align: middle;
    }

    @media (max-width: @screen-tablet), (max-height: @screen-s-height) {
      padding: 12px 10px 12px 0;
    }
  }

  .panel > .accordion-toggle {
    border-bottom: 1px solid #c7c7c7;
    font-weight: bold;
    transition: background-color .35s ease;

    &.collapsed {
      background-color: #999;
      color: #fff;
      font-weight: normal;
      border-bottom: 1px solid #afafaf;
    }

    &.light.collapsed {
      background-color: #e9e9e9;
      color: #000;
      border-bottom: 1px solid #fff;
    }
    .pulldown-hover;
  }
}

.ga-pulldown-shown #pulldown-content {
  transition: transform .3s;
  transform: translate3d(0, 0, 0);
  -ms-transform: translateY(0); /* IE 9*/

  @media (max-width: @screen-phone) {
    width: 96%;
    transition-delay: .1s; /* delay of .1s needed for Safari */
  }
}

/* Default state is collapsed */
#menu-button {
  position: absolute;
  bottom: -34px;
  width: 75%;
  height: 34px;
  z-index: 990; /* Under dropdown-menu */
  margin-left: 12.5%;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background-color: #474949;
  border-color: #474949;
  color: #fff;
  font-weight: bold;
  box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.175);

  .fa-caret-down {
    display: inline-block;
    vertical-align: middle;
    transition: transform .2s ease;
  }

  .ga-hidden-collapsed, .ga-visible-mobile {
    display: none;
  }

  @media (max-width: @screen-phone) {
    top: 0;
    right: 0;
    width: auto;
    height: 50px;
    margin: 0;
    padding: 0 5px;
    border-bottom-right-radius: 0;

    .ga-visible-mobile {
      display: inline;
    }

    .ga-hidden-mobile {
      display: none;
    }
  }
}

.ga-pulldown-shown #menu-button {

  .fa-caret-down {
    .rotate(-180deg);
  }

  .ga-visible-collapsed {
    display: none;
  }

  .ga-hidden-collapsed {
    display: inline;
  }
}

// ****** SELECTION
#selection {

  .panel-body {
    padding: 0px 4px;
  }

  .popover-content {
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 200px;
  }

  .ga-more-layers {
    width: 100%;
    padding: 5px;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
  }
}

// ****** MODAL
.modal {
  overflow: auto;
  textarea {
    resize: vertical;
  }
}

.modal-dialog {
  top: unit(@header-height, px);
  margin: auto;
  max-width: 600px;
  max-height: none;

  @media (max-width: @screen-tablet), (max-height: @screen-s-height) {
    top: unit(@small-header-height, px);
  }
}

.modal-header {

  @media (max-width: @screen-phone) {
    padding: 5px 15px;
  }
}
.modal-body {
  padding: 20px;
  overflow-y: auto;

  @media (max-width: @screen-phone) {
    padding: 10px;
    max-height: 340px;
  }
}

// ****** POPUP
#import-popup {
  width: 770px;  /* Fix resize from tablet to desktop */
  max-width: 770px;
  overflow: visible; /*Only for typeahead*/
  
  .popover-content { /*Only for typeahead*/
    overflow: visible;
  }
  
  @media (max-width: @screen-tablet) {
    max-width: 480px;
  }

  /*Only for typeahead*/
  @media (max-width: @screen-phone) {
    .popover-content {
      overflow: auto;
    }
  }
}

#featuretree-popup {
  width: 320px;

  .ga-popup-content {
    padding: 5px 9px 5px 5px;

    a {
      text-decoration: none;
      color: #000;
    }

    li.selected a {
      color: #f00;
    }

    .ga-query-more-results {
      font-weight: bold;
      color: red;
    }
  }
}

#feedback-popup {
  width: 350px;
  max-height: none;

  > .popover-content {
    max-height: none;
  }
}

#profile-popup {
  .popover-content {
    overflow: visible;
  }
}

#draw-style-popup {
  width: 320px;
  margin: 18px 0 0 -160px;
  overflow: visible !important;

  &[style] {
    z-index: 500 !important; /* under menu */
  }

  @media (max-width: @screen-phone) {
    margin: 0;
  }
}


// ****** LEGEND
.ga-tooltip-metadata {
  > .popover-content {
    padding: 0px;
  }
}

.bod-title {
  color: red;
}

.legend-header, .bodsearch-header {
  background-color: #eee;
  padding: 8px;
}

.office-provider {
  color: red;
  font-style: italic;
  margin-bottom: 5px;
  margin-top: 1px;
}

.legend-abstract {
  width: 100%; /* Use by old android browser */
}

.legend-footer {
  padding: 8px;
  .img-container {
    overflow-x: auto;
  }
  .bod-footer {
    background-color: white;
  }
  span {
    font-weight: bold;
  }
  table {
    font-size: 100%;
    width: 100%;
    border: 0;
  }
}

// ***** PANEL HEADING
a.panel-heading {
  display: block;
}

// ***** POPOVER and MODAL (ga-popup and bs popover)
.popover:not([ga-popup]) {
  z-index: 3000; /* on top of menu but under modals */
}

.popover-content, .popover-content .btn, .popover-content .form-control {
  font-size: 12px;
}

.popover-content {
  a {
    text-decoration: underline;
    color: #069;
  }
}

.modal-header, .popover-title {
  position: relative;
  padding-right: 0px;
}

.modal-header, .popover-title, .popover-content {
  > .fa-remove {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 38px;
    height: 100%;
    font-size: 18px;
    opacity: 0.3;

    &:active {
      opacity: 1;
    }
  }
}

// ****** PULLDOWN LISTS
.panel-subtitle() {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #e9e9e9;
  height: 2.75em;
  line-height: 2.75em;
}
.panel-body-wide {
  padding: 4px 4px;
  & > ul {
    padding-left: 3px;
  }
  a {
    .panel-subtitle;
  }
  li:last-of-type a.collapsed {
    border-bottom-width: 0;
  }
  ul {
    list-style-type: none;
    margin-bottom: 0;
  }
  ul ul li:last-of-type a {
    border-bottom-width: 1px;
  }
}
ul.panel-body-wide {
  margin-bottom: 0;
}

// ****** CATALOG TREE
#catalog {
  .panel-body-wide > ul, .panel-body-wide {
    padding-left: 2px;
  }
}
.topic-container {
  padding: .7em .7em 0;
  display: table;
  width: 100%;

  select, span {
    display: table-cell;
  }

  span {
    font-size: 13px;
    font-weight: normal;
  }
}
.theme-toggle {
  position: relative;

  .topic-modal-toggle {
    cursor: pointer;
    float: right;
    margin-right: 5px;
    height: 40px;
    line-height: 40px;
    @media (max-width: @screen-tablet), (max-height: @screen-s-height) {
      height: 44px;
      line-height: 44px;
    }
  }
}

// ****** SETTINGS
#settings {
  .options {
    display: table;
    width: 100%;
  }
  label {
    display: table-row;
  }
  span, select {
    display: table-cell;
    margin: 1px;
  }
}

// ***** ICONS
.fa-plus, .fa-minus {
  padding: 1px 1px 0;
  border: 1px solid #afafaf;
  border-radius: 2em;
  box-shadow: 0 0 2px #c7c7c7;
  font-size: 10px;
  margin: 0 .5em;
}

// ***** TWITTER TYPEAHEAD
.tt-hint {
  display: none !important;
}

.tooltip-inner {
  text-align: left;
}

// ****** HTMLPOPUP
.htmlpopup-container {
  width: 100%;
  font-size: 11px;

  span {
    font-weight: bold;
  }

  .htmlpopup-header {
    background-color: #E9E9E9;
    padding: 7px;
    margin-bottom: 7px;
  }

  .htmlpopup-content {
    padding: 0 7px 7px;

    iframe {
      border: none;
    }

    table {
      font-size: 11px;
      width: 100%;
      border: 0;

      td {
        vertical-align: top;
      }

      .cell-left {
        width: 150px;
      }

      .cell-left-large {
        width: 320px;
      }
    }
  }
}

// ***** MOBILE LOADER
@keyframes loader {
  0% { width: 0%; }
  100% { width: 100%; }
}
.ga-spin() {
  animation: spin 2s infinite linear;
}

#loader {
  position: absolute;
  z-index: 1050; /* on top of the map but not on popup */
  top: 0;
  left: 0;
  height: 2px;
  background: #F00;
  opacity: 0;
  transition: opacity 1s ease, width 1s ease;
  width: 100%;

  &:before {
    content: normal;
  }
}

.online.ga-wait-cursor {
  #loader {
    animation: loader 1s infinite;
    opacity: 1;
  }
}

// Only IE9
.no-animation.online.ga-wait-cursor {
  cursor: wait;

  #loader {
    display: none;
  }
}

.homescreen {
  bottom:10px;
  left: 50%;
  top: auto;
  width: 200px;
  margin-left: -100px;
  transition: opacity 1s ease;
  &.bottom {
    bottom: auto;
    top: 0;
    left: 45px;
    margin-left: 0;

    &.tr {
      left: auto;
      right: 40px;
      margin-right: 0;
    }
  }
  &.visible {
    display: block;
    z-index: 3000;
  }
  &.ng-enter,
  &.ng-leave.ng-leave-active {
    opacity:0;
  }

  &.ng-enter.ng-enter-active,
  &.ng-leave {
    opacity:1;
  }
}

// ***** IE10 INPUT RANGE
input[type=range] {
  &::-ms-fill-upper {
    background: #fff;
  }
  &::-ms-fill-lower {
    background: #666;
  }
  &::-ms-track {
    height: 5px;
    color: #666;
    border-radius: 5px;
    border: 1px solid #000;
    margin: 0;
  }
  &::-ms-thumb {
    background-color: #000;
    border: 1px solid #000;
  }
  &::-ms-tooltip {
    display: none;
  }
}

//***** CUSTOM CHECKBOXES
.ga-checkbox {
  cursor: pointer;
  -webkit-touch-callout: none;

  input[type=checkbox] {
    cursor: inherit;
    display: inline;
  }
}

.no-webkit .ga-checkbox {

  input[type=checkbox] {
    position: absolute;
    opacity: 0;

    & + span:before {
      font-family: "FontAwesome";
      font-size: 14px;
      content: "\f096";
      letter-spacing: 4px;
      vertical-align: -0.1em;
    }

    &:checked + span:before {
      content: "\f046";
      color: #000;
      letter-spacing: 2px;
    }
  }

  input[type=checkbox]:focus + span {
    box-shadow: 0 0 3px 0px rgb(255, 0, 0);
  }
}

.webkit .ga-checkbox {

  input[type=checkbox] {
    appearance: none;
    border: 0;
    background: white;
    vertical-align: -3px;

    &:after {
      font-size: 14px;
      content: "\f096";
      font-family: FontAwesome;
      letter-spacing: 2px;
    }

    &:checked:after {
      content: "\f046";
      letter-spacing: 0px;
    }
  }
}

// ***** DRAGGABLE ELEMENT
.ga-draggable {
  touch-action: none;
  -ms-touch-action: none;
}

.ga-draggable-zone {
  cursor: move;
}

#tools .selected {
  color: #f00;
  background-color: #fff;
}

#tools .panel-cursor {
  cursor: pointer;
}

// ***** Button group
@bt-right: @control-btn-size + @control-btn-space;
@bt-right-col-1: unit(@bt-right, px);
@bt-right-col-2: unit(@bt-right * 2, px);
@bt-right-col-3: unit(@bt-right * 3, px);

.bt-bottom-mixin(){
  position: absolute;
  bottom: 0;
}

#buttonGroup {
  user-select: none;
  pointer-events: none;
  position: absolute;
  top: unit(@header-height, px);
  right: unit(@control-btns-right, px);
  bottom: unit(@bt-bottom, px);
  z-index: 1000;
  transition: 1s;
  transition-property: top, bottom;

  @media (max-width: @screen-tablet) {
    bottom: unit(@bt-bottom-sm, px);
  }

  @media (max-width: @screen-tablet), (max-height: @screen-s-height) {
    top: unit(@small-header-height, px);
  }

  > div, > button, .ol-zoom-out {
    margin-top: unit(@control-btn-space, px);
    height: unit(@control-btn-size, px);
    pointer-events: auto;
  }

  button {
    padding: 0;
    background-color: transparent;
    border: none;
    width: unit(@control-btn-size, px);
    height: unit(@control-btn-size, px);
  }

  [ga-offline-bt] {
    .bt-bottom-mixin();
  }

  #zoomButtons {
    height: unit(@control-btn-size * 2 + @control-btn-space, px);
  }
}

// ***** Position buttons management on resize
@screen-height-step-1: 445;
@screen-height-step-2: unit((@screen-height-step-1 - @control-btn-size), px);
@screen-height-step-3: unit((@screen-height-step-1 - @control-btn-size * 2), px);

@screen-sm-height-step-1: @screen-height-step-1 - (@bt-bottom - @bt-bottom-sm);
@screen-sm-height-step-2: unit((@screen-sm-height-step-1 - @control-btn-size), px);
@screen-sm-height-step-3: unit((@screen-sm-height-step-1 - @control-btn-size * 2), px);

body:not(.embed) {
  /* Map rotated with device heading has its own rotation button */
  .ga-geolocation-northarrow ~ .ga-rotate-enabled {
    display: none;
  }

  /* When the 3 optional buttons are displayed */
  .ga-time-selector-enabled + .ga-rotate-enabled + [ga-offline-bt] {

    @media (min-width: @screen-tablet) and (max-height: unit((@screen-height-step-1), px)),
           (max-width: @screen-tablet) and (max-height: unit((@screen-sm-height-step-1), px)) {
      right: @bt-right-col-1;
    }

    @media (min-width: @screen-tablet) and (max-height: @screen-height-step-2),
           (max-width: @screen-tablet) and (max-height: @screen-sm-height-step-2) {
      right: @bt-right-col-2;
    }

    @media (min-width: @screen-tablet) and (max-height: @screen-height-step-3),
           (max-width: @screen-tablet) and (max-height: @screen-sm-height-step-3) {
      right: @bt-right-col-3;
    }
  }

  /* When only 2 optional buttons are displayed */
  .ga-time-selector-enabled + .ga-rotate-enabled,
  .ga-time-selector-enabled ~ [ga-offline-bt],
  .ga-rotate-enabled + [ga-offline-bt] {

    @media (min-width: @screen-tablet) and (max-height: @screen-height-step-2),
           (max-width: @screen-tablet) and (max-height: @screen-sm-height-step-2) {
      .bt-bottom-mixin();
      right: @bt-right-col-1;
    }

    @media (min-width: @screen-tablet) and (max-height: @screen-height-step-3),
           (max-width: @screen-tablet) and (max-height: @screen-sm-height-step-3) {
      right: @bt-right-col-2;
    }
  }

  /* When only 1 optional button is displayed */
  .ga-time-selector-enabled,
  .ga-rotate-enabled,
  [ga-offline-bt] {

    @media (min-width: @screen-tablet) and (max-height: @screen-height-step-3),
           (max-width: @screen-tablet) and (max-height: @screen-sm-height-step-3) {
      .bt-bottom-mixin();
      right: @bt-right-col-1;
    }
  }
}


.embed, .ga-full-screen {
  #buttonGroup {
    top: 0px;
  }
}

.embed {

  #search-container {
    display: none;
  }

  #bigMapLink {
    position: absolute;
    z-index: 1000;
    top: 5px;
    left: 5px;

    .fa-ga-logo-bund {
      vertical-align: middle;
    }

    > div {
      position: relative;
      padding: 2px 5px;
      box-shadow: rgba(0, 0, 0, .29) 0px 1px 4px -1px;
      border-radius: 4px;
      background-color: white;
      font-weight: bold;
      margin-bottom: 5px;

      &:last-child {
        position: absolute;
        text-decoration: inherit;
      }
    }
  }

  #buttonGroup {
    top: 0px;
    right: 5px;

    > div, > button, .ol-zoom-out {
      margin-top: 5px;
    }
  }

  [ga-time-selector] {
    display: none!important;
  }

  [ga-scale-line], #copyrightsdata {
    position: absolute;
    bottom: 0;
    z-index: 1000;
  }

  #copyrightsdata {
    max-width: ~"calc(100% - 160px)";
  }

  [ga-scale-line] {
    bottom: 2px;
    left: 2px;
    width: auto;
    height: 15px;
    margin: 0;
    font-size: 11px;
  }

  .ol-scale-line-inner {
    background: rgba(255,255,255,.7);
  }

  @media (max-width: 350px) {
    #buttonGroup {
      display: none;
    }
  }
}

/* Corner ribbons, from http://codepen.io/eode9/pen/twkKm */
.corner-ribbon{
  width: 200px;
  background: #e43;
  position: absolute;
  top: 25px;
  left: -50px;
  text-align: center;
  line-height: 50px;
  letter-spacing: 1px;
  color: #f0f0f0;
  .rotate(-45deg);
  z-index: 400;
}

/* Custom styles */

.corner-ribbon.sticky{
  position: absolute;
}

.corner-ribbon.shadow{
  box-shadow: 0 0 3px rgba(0,0,0,.3);
}

/* Different positions */

.corner-ribbon.top-left{
  top: 150px;
  left: -50px;
  .rotate(-45deg);

  @media (max-width: @screen-tablet), (max-height: @screen-s-height) {
    top: 108px;
  }

  @media (max-width: @screen-phone) {
    top: 70px;
  }
}

.corner-ribbon.top-right{
  top: 25px;
  right: -50px;
  left: auto;
  .rotate(45deg);
}

.corner-ribbon.bottom-left{
  top: auto;
  bottom: 50px;
  left: -100px;
  width: 300px;
  .rotate(45deg);
}

.corner-ribbon.bottom-right{
  top: auto;
  right: -50px;
  bottom: 25px;
  left: auto;
  .rotate(-45deg);

/* Colors */

.corner-ribbon.white{background: #f0f0f0; color: #555;}
.corner-ribbon.black{background: #333;}
.corner-ribbon.grey{background: #999;}
.corner-ribbon.blue{background: #39d;}
.corner-ribbon.green{background: #2c7;}
.corner-ribbon.turquoise{background: #1b9;}
.corner-ribbon.purple{background: #95b;}
.corner-ribbon.red{background: red; color: white;}
.corner-ribbon.orange{background: #e82;}
.corner-ribbon.yellow{background: #ec0;}}

.warning-not-prod {
  width: 100%;
  height: 20px;
  max-width: 100%;
  max-height: 40%;
  left: 0;
  border-radius: 0 .2em .2em 0;
  text-align: justify;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-weight: bold;
  background: rgba(255,255,255,.7);
  transition: .3s ease;
  transition-property: width, height;
  color: red;

  &:hover, &:focus, &:active {
    z-index: 3000;
    height: auto;
    white-space: normal;
  }
}

@import "print.less";
@import "offline.less";
