@import "ga_bootstrap.less";
@import "font-awesome-3.2.1/less/font-awesome.less";
@import "../components/map/style/map.less";
@import "../components/geolocation/style/geolocation.less";
@import "../components/print/style/form.less";
@import "../components/scaleline/style/scaleline.less";
@import "../components/attribution/style/attribution.less";
@import "../components/share/style/share.less";
@import "../components/contextpopup/style/contextpopup.less";
@import "../components/feedback/style/feedback.less";
@import "../components/topic/style/topic.less";
@import "../components/importkml/style/importkml.less";
@import "../components/importwms/style/importwms.less";
@import "../components/popup/style/popup.less";
@import "../components/catalogtree/style/catalogtree.less";
@import "../components/search/style/search.less";
@import "../components/tooltip/style/tooltip.less";

@header-height: 89;
@footer-height: 36;
@small-header-height: 50;
@tooltip-bg: #999;
@pulldown-width: 320;

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#map {
  position: absolute;
  width: 100%;
  height: 100%;
  .ol-dragbox {
    position:absolute;
    border: 1px solid #2E2F2F;
    background-color: rgba(255, 255, 255, 0.5);
  }
}
#copyrightsdata {
  font-size: 11px;
  position: absolute;
  right: 0px;
  bottom: 40px;
  z-index: 1000;
  background: rgba(255,255,255,.7);
  border-radius: .2em 0 0 0;
  padding: .2em .4em;
  & > div {
    display: inline-block;
  }
}
@media (max-width: @screen-tablet) {
  #copyrightsdata {
    bottom: 0;
  }
}

.navbar {
  position: absolute;
}

input[type=search] {
  -webkit-appearance: none;
}
select, input[type=text], input[type=email], input[type=search] {
  .form-control;
  .input-sm;
}

input[type=text][readonly] {
  cursor: default;
}

// ***** HEADER
#header {
  overflow: visible; // ios bug fix (need to show the dropdown)
  height: unit(@header-height, px);
  padding: 0 .4em 0 0;
  background-color: rgba(255, 255, 255, 0.9);
  .box-shadow(6px 6px 12px rgba(0, 0, 0, 0.175));
  .pull-right {
    margin: 29px 1.6em 0 0;
    padding: 0;
    & > div {
      display: inline-block;
    }
  }
  @media (max-width: @screen-tablet) {
    h4 {
      display: none;
    }
    height: unit(@small-header-height, px);
    .pull-right {
      margin: .4em 0 0;
    }
  }
  select {
    width: auto;
    padding-left: .3em;
    padding-right: .3em;
  }
  @media (max-width: @screen-phone) {
    background: #fff;
  }
}

#search-container {
  width: 25%;
  float: left;
  left: 1.6em;
  position: relative;
  margin-top: 29px;
  @media (max-width: @screen-tablet) {
    margin-top: 0;
    width: 260px;
    top: .7em;
    left: 44px;
    position: absolute;
  }
  @media (max-width: @screen-phone) {
    right: 50px;
    width: auto;
  }
}
.search-focused #search-container {
  @media (max-width: @screen-phone) {
    width: 100%;
    padding: 0;
    left: 0;
    background: #fff;
    input {
      width: 96%;
      margin-left: 2%;
    }
    .deleteicon {
      right: 0.5em;
    }
  }
}
#logo {
  width: 320px;
  display: inline-block;
  background: white;
  img:last-of-type {
    display: none;
  }
  @media (max-width: @screen-tablet) {
    padding: 13px 0 0 13px;
    height: 50px;
    img:last-of-type {
      display: inline;
    }
    img:first-of-type {
      display: none;
    }
  }
  @media (max-width: @screen-phone) {
    width: 44px;
  }
}

#toptools {
  position: absolute;
  top: 0.2em;
  right: 2em;
  & > div {
    display: inline-block;
  }
  select {
    height: 20px;
    line-height: 20px;
    padding: 1px .3em;
  }
  a {
    font-size: 80%;
    color: #333;
  }
}

// ***** FOOTER
#footer {
  min-height: 0;
  font-size: 11px;
  background-color: rgba(214, 214, 214, 0.9);
  padding-left: 12px;
  padding-right: 0;
  & > div {
    height: unit(@footer-height, px);
    line-height: unit(@footer-height, px);
    margin-right: 1em;
  }
  #scaleline {
    line-height: 1.5em;
    height: 1.5em;
    margin-top: .8em;
    width: 150px;
  }
  @media (max-width: @screen-tablet) {
    background: transparent;
    padding-left: 2px;
    & > div {
      display: none;
    }
    #scaleline {
      display: inline-block;
      position: absolute;
      bottom: 0;
      width: auto;
      height: auto;
      line-height: 1.4em;
      margin: 0;
    }
    .ol-scale-line-inner {
      background: rgba(255,255,255,.7);
      outline: 2px solid rgba(255,255,255,.7);
      font-weight: normal;
      height: 14px;
      line-height: 1em;
    }
  }
}
#mouseposition {
  select {
    height: auto;
    min-height: inherit;
    width: auto;
    font-size: inherit;
    padding: 5px;
  }
  select, .ga-mouse-position {
    display: inline-block;
  }
}

// ***** SHARED
.separator-mixin {
  content: '';
  border-right: 1px solid #d6d6d6;
  margin: 0 0.2em 0 0.6em;
}
a .ga-icon-separator {
  .separator-mixin;
  display: inline-block;
  width: 1.5em;
}

// ****** PULLDOWN
#pulldown {
  position: absolute;
  left: 0;
  width: unit(@pulldown-width, px);
  z-index: 1000;
  top: unit(@header-height, px);
  @media (max-width: @screen-tablet) {
    top: unit(@small-header-height, px);
  }
  @media (max-width: @screen-phone) {
    width: 100%;
    height: 0;
    top: 0;
    z-index: 1100;
  }
  .hidden-collapsed {
    display: inline;
  }
  .visible-collapsed {
    display: none;
  }
  .collapsed {
    .hidden-collapsed {
      display: none;
    }
    .visible-collapsed {
      display: inline;
    }
  }
  .panel {
    margin: 0;
    border: none;
    overflow: visible;
    &:last-child {
      .accordion-toggle.collapsed {
        border-bottom: none;
      }
    }
  }
  .panel-body {
    background-color: #fff;
    border-top: none;
    max-height: 400px;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    font-size: 12px;
    @media (max-height: 800px) {
      max-height: 300px;
    }
    @media (max-height: 680px) {
      max-height: 200px;
    }
    @media (max-height: 550px) {
      max-height: 150px;
    }
    @media (max-height: 480px) {
      max-height: 100px;
    }
    @media (max-width: @screen-phone) {
      background-color: rgba(255,255,255,0.9);
      max-height: none;
    }
    .panel-body {
      padding: 0;
    }
  }
}
.pulldown-hover() {
    &:hover, &:focus {
      text-decoration: none;
      color: #666;
      background: #fff;
      .spacer {
        visibility: visible;
      }
    }
}
#pulldown-content {
  .accordion-toggle, .panel-body-wide a {
    display: block;
    background-color: #fff;
    color: #000;
    text-decoration: none;
    .pulldown-hover;
  }
  .panel > .accordion-toggle {
    border-bottom: 1px solid #c7c7c7;
    font-weight: bold;
    .transition(background-color .35s ease);
    &.collapsed {
      background-color: #999;
      color: #fff;
      font-weight: normal;
      border-bottom: 1px solid #afafaf;
    }
    &.light.collapsed {
      background-color: #e9e9e9;
      color: #000;
      border-bottom: 1px solid #fff;
    }
    .spacer {
      visibility: hidden;
    }
    &.panel-heading .icon-caret-right {
      padding: 0 1px 0 2px;
    }
    &.panel-heading:not(.light) i:not(.icon-collapse-alt):last-of-type:after {
      .separator-mixin;
    }
    .icon-caret-right, .icon-caret-down {
      margin-right: .5em;
    }
    .pulldown-hover;
  }
}

.toggle {
  font-weight: bold;
  .box-shadow(6px 6px 12px rgba(0, 0, 0, 0.175));
  width: 75%;
  .transition(all .35s ease);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  margin-left: 12.5%;
  z-index: 1200;
  background-color: #474949;
  border-color: #474949;
  color: #fff;
  .icon-reorder {
    display: none;
  }
  .phone-toggle {
    display: none;
  }
  &:hover, &:focus {
    background-color: #3A3C3C;
    border-color: #2E2F2F;
    color: #fff;
  }
  @media (max-width: @screen-phone) {
    width: 58px;
    margin-left: auto;
    position: absolute;
    position: fixed;
    right: 0;
    top: 0;
    height: 40px;
    border-bottom-right-radius: 0;
    &.collapsed {
      margin-left: .4em;
      box-shadow: none;
      background: transparent;
      height: 50px;
      border: none;
      color: #333 !important;
    }
    .visible-collapsed *, .icon-caret-up, span[translate] {
      display: none;
    }
    .icon-reorder, .phone-toggle {
      display: inline-block;
    }
  }
}
.search-focused .toggle {
  @media (max-width: @screen-phone) {
    display: none;
  }
}

.theme-toggle {
  position: relative;
  .dropdown-toggle {
    float: right;
    padding-right: 1em;
    height: 40px;
    line-height: 40px;
  }
  a i {
    .transition(all .20s ease);
    display: inline-block;
    text-decoration: none;
  }
  &.open {
    .icon-chevron-sign-right {
      .rotate(180deg);
    }
  }
}
.dropdown-menu {
  top: 0;
  left: 100%;
  margin: 0;
}

#pulldown-content {
  .box-shadow(6px 6px 12px rgba(0, 0, 0, 0.175));
  border-right: 1px solid #bdbdbd;
  border-bottom: 1px solid #bdbdbd;
  &.collapse {
    border-bottom: none;
  }
}

// ****** MODAL
.modal {
  overflow: auto;
  outline: none;
  textarea {
    resize: vertical;
  }
}

.non-modal {
  display: none;
}

.modal-dialog {
  padding-top: 10%;
  @media (max-width: @screen-phone) {
    padding-top: .5em;
  }
}
.modal-backdrop {
  z-index: 1240;
}
.modal-container {
  z-index: 1250;
  position: absolute;
}
.modal-header {
  .border-top-radius(6px);
}
.modal-body {
  padding: 20px 20px 5px;
}

#feedback-success .modal-header {
  color: #468847;
  background-color: #d6e9c6;
}

#feedback-error .modal-header {
  color: #b94a48;
  background-color: #f2dede;
}

#import-wms-popup {
  max-width: none;
  max-height: none;
  display: none;

  .ga-popup-content {
    max-height: inherit;
  }
}
.ga-popup-content, .contextpopup .popover-content {
  a {
    text-decoration: underline;
    color: #069;
  }
}
// ****** PULLDOWN’S LISTS
.panel-subtitle() {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #e9e9e9;
  height: 32px;
  line-height: 32px;
}
.panel-body-wide {
  padding: 4px 4px;
  & > ul {
    padding-left: 3px;
  }
  a {
    .panel-subtitle;
  }
  li:last-of-type a.collapsed {
    border-bottom-width: 0;
  }
  ul {
    list-style-type: none;
    margin-bottom: 0;
  }
  ul ul li:last-of-type a {
    border-bottom-width: 1px;
  }
}
ul.panel-body-wide {
  margin-bottom: 0;
}

// ****** CATALOG TREE
.topic-container {
  padding: .7em .7em 0;
  display: table;
  width: 100%;
  select, span {
    display: table-cell;
  }
  span {
    font-size: 13px;
    font-weight: normal;
  }
}
.ga-catalogitem-leaf {
  .panel-subtitle;
  border-bottom-style: dashed;
  border-bottom-color: #c7c7c7;

  label {
    font-weight: normal;
    width: 100%;
    cursor: pointer;
  }
  input[type=checkbox] {
    margin-left: .5em;
    margin-right: .5em;
  }
}

.ga-catalogitem-template {

  .selected {
    color: #f00;
    background-color: #fff;
  }

  .preview {
    color: #666;
    background-color: #fff;
    cursor: pointer;
  }
}

// ****** SETTINGS
#settings {
  .options {
    display: table;
    width: 100%;
  }
  label {
    display: table-row;
  }
  span, select {
    display: table-cell;
    margin: 1px;
  }
}

// ****** METADATA / LEGEND Information
.legend_header, .bodsearch_header {
  background-color: #eee;
  margin: 1px;
  padding: 4px;
}

.bod_title {
  color: red;
}

.office_provider {
  color: red;
  font-style: italic;
  margin-bottom: 5px;
  margin-top: 1px;
}

.legend_footer .bod_footer {
  background-color: white;
  margin: 1px;
  padding: 4px;
}

// ***** LAYER SELECTION
#selection {
  .btn-xs {
    line-height: 1;
    padding: 1px 3px 0;
    margin: 0 .6em;
    position: absolute;
    left: 0;
    height: 15px;
    top: 5px;
    @media (max-width: @screen-tablet) {
      top: 8px;
      height: 20px;
      font-size: 20px;
      margin: 0 0 0 5px;
      padding: 0 3px 0px;
      line-height: 20px;
    }
  }
  li {
    .panel-subtitle;
    height: auto;
    line-height: 1.2em;
    position: relative;
    padding: .2em 0;
  }
  li:first-of-type {
    .icon-arrow-up {
      color: #ccc;
      cursor: default;
    }
  }
  li:last-of-type {
    border-bottom-width: 0;
    .icon-arrow-down {
      color: #ccc;
      cursor: default;
    }
  }
  .layerinfo, .ordering, .icon-gear {
    position: absolute;
    top: .6em;
    right: 0;
  }
  .icon-gear {
    top: 5px;
    font-size: 26px;
    display: none;
    .rotate(0deg);
  }
  .ordering {
    bottom: .6em;
    top: auto;
  }
  label {
    font-weight: normal;
    &:first-of-type {
      padding-left: 2.7em;
    }
    &.transparency {
      padding-left: 3em;
      display: block;
      font-size: 90%;
      input {
        vertical-align: middle;
      }
    }
  }
  input[type=checkbox] {
    vertical-align: -10%;
  }
  input[type=range] {
    width: 13em;
  }
  .panel-body-wide a {
    line-height: 12px;
    display: inline;
    border: none;
  }
  @media (max-width: @screen-tablet) {
    .icon-gear {
      display: inline;
      .transition(all .35s ease);
    }
    li {
      height: 3em;
      line-height: 3em;
      padding: 0;
      overflow: hidden;
    }
    input[type=range] {
      width: 8em;
    }
    label.transparency {
      padding-left: 1em;
    }
    .layertools {
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      background: #fff;
      border-left: 3px solid #666;
      .transition(margin-left .35s ease);
      a, i {
        font-size: 26px;
        background-color: inherit;
        line-height: normal;
      }
      .ordering {
        right: 65px;
        bottom: auto;
        top: 6px;
      }
      .layerinfo {
        right: 40px;
        top: 4px;
      }
    }
    .folded {
      .layertools {
        margin-left:100%;
      }
      .icon-gear {
        .rotate(360deg);
      }
    }
  }
}

// ***** CONTEXTPOPUP
.contextpopup {
  z-index: 1090;
  left: unit(-@contextpopup-width/2, px);
}

// ***** ICONS
.icon-plus, .icon-minus {
  padding: 1px 2px 0;
  border: 1px solid #afafaf;
  border-radius: 2em;
  box-shadow: 0 0 2px #c7c7c7;
  font-size: 10px;
  margin: 0 .5em;
}

// ***** TWITTER TYPEAHEAD
.tt-hint {
  display: none !important;
}

.tooltip-inner {
  text-align: left;
}

// ***** METADATA POPUP
.ga-tooltip-wait .map, .metadata-popup-wait {
  cursor: wait;
}
@media (max-width: @screen-tablet) {
  button.close {
    font-size: 26px;
    padding: 0 10px;
    margin: -4px -14px;
    display: inline-block;
  }
}

// ***** MOBILE LOADER
#loader {
  display: none;
  @media (max-width: @screen-tablet) {
    .transition(opacity .20s ease);
    display: block;
    content: "\f021";
    font-family: FontAwesome;
    position: fixed;
    top: 2px;
    left: 0;
    font-size: 26px;
    color: red;
    width: 44px;
    height: 44px;
    line-height: 44px;
    background: white;
    z-index: 5000;
    text-align: center;
    border-radius: 44px;
    opacity: 0;
  }
  @media (max-width: @screen-phone) {
    width: 32px;
    height: 32px;
    line-height: 32px;
    font-size: 20px;
    left: 6px;
    top: 8px;
  }
}

.ga-tooltip-wait, .metadata-popup-wait {
  #loader {
    @media (max-width: @screen-tablet) {
      opacity: 1;
    }
  }
}

.homescreen {
  bottom:10px;
  left: 50%;
  top: auto;
  width: 200px;
  margin-left: -100px;
  .transition(opacity 1s ease);
  &.bottom {
    bottom: auto;
    top: 0;
    left: 45px;
    margin-left: 0;
  }
  &.visible {
    display: block;
    z-index: 3000;
  }
  &.ng-enter,
  &.ng-leave.ng-leave-active {
    opacity:0;
  }

  &.ng-enter.ng-enter-active,
  &.ng-leave {
    opacity:1;
  }
}
