<div class="popover bottom">
  <div class="arrow"></div>
  <div class="popover-inner">
      <h4 class="popover-title"><span translate>position</span><button type="button" class="close" ng-click="hidePopover()">&times;</button></h4>
      <div class="popover-content">
          <table>
              <tbody>
              <tr>
                  <td>CH1903 / LV03</td>
                  <td><a href="{{contextPermalink}}"
                         target="_blank">{{coord21781}}</a></td>
              </tr>
              <tr>
                  <td>CH1903+ / LV95</td>
                  <td>{{coord2056}}</td>
              </tr>
              <tr>
                  <td>WGS 84 (long/lat)</td>
                  <td>{{coord4326}}</td>
              </tr>
              <tr>
                  <td>UTM</td>
                  <td>{{coordutm}}</td>
              </tr>
              <tr>
                  <td>MGRS</td>
                  <td>{{coordmgrs}}</td>
              </tr>
              <tr ng-hide="!altitude">
                  <td translate>elevation</td>
                  <td>{{altitude}} [m]</td>
              </tr>
              <tr>
                  <td></td>
                  <td><a href="{{crosshairPermalink}}" target="_blank" translate>link_bowl_crosshair</a></td>
              </tr>
              <tr ng-show="showQR">
                <td align="center" colspan="2">
                  <img draggable="false" ng-src="{{qrcodeUrl}}" style="width: 124px; height: 124px;" class="qrcode">
                </td>
              </tr>
              </tbody>
          </table>
      </div>
  </div>
</div>
