.import-wms {
  
  position: relative;
  background-color: white;
  padding: 10px;
  width: 740px;
  height: 358px;

  > div {
    position: relative;
  }

  input[type=url], .tt-dropdown-menu {
    width: 640px;
  }
 
  table {
    width: 320px;  
    margin: 0px;
    table-layout: fixed;

    thead, tbody, tr {
      width: 100%;
    }

    thead, th, td, tr {
      height: 35px;
    }

    th.add, td.add {
      width: 50px; 
    }

    th.title, td.title {
      width: 262px;
    }
    
    tr.row-first td {
      border-top: none;
    }

    th, td {
      border-left: 1px solid #dddddd;
    }

    td.col-first, th.col-first {
      border-left: none;
    }

    tr {
      cursor: pointer;
    }

    tr.selected {
      cursor: normal;
    }
  }

  .tables-container {
    width: 330px;
    border: 1px solid #dddddd;
    border-collapse: separate;
    border-radius: 4px;
  }

  .table-content-container {
    width: 100%;
    height: 240px;
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
    border-top: 1px solid #dddddd;
  }
  
  .tables-container, .description-container {
    display: inline-block;
    position: relative;
    margin: 20px 0px 0px 0px;
  }
  
  .description-container {
    vertical-align: top;
    margin-left: 20px;
  }

  textarea {
    resize: none;
    width: 364px;
    height: 206px; 
     
  }
   
  .bt-connect {
    position:absolute;
    left: 645px;
    top: 0px;
  }

  .open-wms-list {
    cursor: pointer;
    position: absolute;
    left: 610px;
    top: 5px;
    font-size: 28px;
  }

  .tt-dropdown-menu {
    height: 280px;
    overflow-y: auto;
    border: 1px solid black;
    background-color: white;


    p {
      margin: 5px 10px; 
    }
  }

  .tt-is-under-cursor {
    background-color: #f0f0f0;
  } 

  .tt-hint {
    color: #999
  }

  .modal-backdrop {
    position: absolute;
   
    .progress {
      position: absolute;
      top: 50%;
      margin-top: -20px;
      left: 50%;
      margin-left: -100px; 
      width: 200px;
    }
  }

  .bt-addlayer {
    width: 100%;
    margin-top: 10px;
  }
}
