<form ng-controller="GaPrintController" ng-submit="submit()">
  <div>
    <label translate>Layout</label>
    <select ng-model="layout" ng-options="l.name for l in capabilities.layouts"></select>
  </div>
  <div>
    <label translate>Scale</label>
    <select ng-model="scale" ng-options="s.name for s in capabilities.scales"></select>
  </div>
  <div class="checkbox">
    <label>
      <input ng-model="legend" type="checkbox" translate>Legend
    </label>
  </div>
  <button type="submit" class="btn btn-primary" translate>Print</button>
</form>
