<div class="ga-vector-feedback-panel collapse in" aria-expanded="true">
    <a class="ga-vector-feedback-header" data-toggle="collapse" data-target="#ga-feedback-vector-body" aria-expanded="true">
        <div class="ga-vector-feedback-title ga-no-select pull-left" translate>vector_feedback_description_title</div>
        <i class="fa fa-caret-down"></i>
    </a>
    <div id="ga-feedback-vector-body" class="collapse in">
        <p class="ga-vector-feedback-text" translate>vector_feedback_description_text</p>
        <hr>
        <div class="ga-vector-feedback-item">
            <h4 class="ga-vector-feedback-item-title pull-left" translate>vector_feedback_select_style</h4>
            <div class="ga-vector-feedback-item-select-wrapper">
                <select class="form-control"
                        ng-model="options.backgroundLayer"
                        ng-options="c.label for c in options.backgroundLayers">
                </select>
            </div>
        </div>
        <div class="ga-vector-feedback-item">
            <h4 class="ga-vector-feedback-item-title pull-left" translate>vector_feedback_choose_layer</h4>
            <div class="ga-vector-feedback-item-select-wrapper">
                <select class="form-control"
                        ng-model="options.selectedLayer"
                        ng-options="c.label for c in options.layers[options.backgroundLayer.id].selectableLayers track by c.value">
                </select>
            </div>
        </div>
        <div class="ga-vector-feedback-item">
            <h4 class="ga-vector-feedback-item-title pull-left" translate>vector_feedback_choose_color</h4>
            <div class="ga-vector-feedback-item-buttons-wrapper">
                <button ng-if="!options.mobile"
                        ng-repeat="c in options.colors track by c.value"
                        ng-click="applyColor(c.value)"
                        ng-class="options.activeColor === c.value ? 'active-color' : ''"
                        ng-style="{'background-color': c.value}"
                        class="ga-vector-feedback-color-button"></button>
            </div>
            <div ng-if="options.mobile" class="ga-vector-feedback-item-select-wrapper">
                <select class="form-control ga-vector-feedback-colors"
                        ng-model="options.activeColor"
                        ng-options="c.label for c in options.colors track by c.value">
                </select>
            </div>
        </div>
        <hr>
        <div class="ga-vector-feedback-item">
            <h4 class="ga-vector-feedback-item-title pull-left" translate>vector_feedback_labels_on_off</h4>
            <div class="ga-vector-feedback-item-select-wrapper">
                <select class="form-control ga-vector-feedback-colors"
                        ng-model="options.showLabel"
                        ng-options="c.label for c in options.showLabels track by c.value">
                </select>
            </div>
        </div>
        <hr>
        <div class="ga-vector-feedback-item">
            <h4 class="ga-vector-feedback-item-title pull-left" translate>vector_feedback_getting_started_title</h4>
            <div class="ga-vector-feedback-item-text-wrapper">
                <span translate>vector_feedback_getting_started_1</span>
                <a class="ga-vector-feeback-service-link" href="{{options.serviceDocUrl}}" target="_blank" translate>vector_feedback_getting_started_2</a>
                <span translate>vector_feedback_getting_started_3</span>
            </div>
        </div>
        <hr>
        <div class="ga-vector-feedback-item ga-vector-feedback-item-last">
            <h4 class="ga-vector-feedback-item-title pull-left" translate>vector_feedback_survey_title</h4>
            <div class="ga-vector-feedback-item-select-wrapper">
                <a class="ga-feedback-survey-link btn btn-default form-control" data-toggle="modal" data-target="#vectorFeedbackSurvey.modal" href="#" translate>
                    vector_feedback_survey_btn_text
                </a>
            </div>
        </div>
    </div>
</div>
