<div class="ga-vector-feedback-panel col-xs-12 col-sm-6 col-md-5 col-lg-5 collapse in" aria-expanded="true">
    <a class="ga-vector-feedback-header" data-toggle="collapse" data-target="#ga-feedback-vector-body" aria-expanded="true">
        <div class="ga-vector-feedback-title ga-no-select pull-left">Vector Tiles Alpha Viewer</div>
        <i class="fa fa-caret-down"></i>
    </a>
    <div id="ga-feedback-vector-body" class="collapse in">
        <p>
            Lorem ipsum dolor sit amet, nam an veritus adipiscing, mutat habemus sea an. Ne decore nemore scaevola mel,
            vim at qualisque consulatu. Pro ponderum molestiae dignissim et. Est id ferri meliore atomorum, in mei
            primindoctum. Ea sint dolore nec, ea dicam propriae verterem est.
        </p>
        <hr>
        <div class="ga-vector-feedback-item">
            <h4 class="ga-vector-feedback-item-title pull-left">Select a layer</h4>
            <div class="ga-vector-feedback-item-select-wrapper">
                <select class="form-control" ng-model="options.backgroundLayer" ng-options="c.label for c in options.backgroundLayers track by c.id">
                </select>
            </div>
        </div>
        <div class="ga-vector-feedback-item">
            <h4 class="ga-vector-feedback-item-title pull-left">Select items in the map</h4>
            <div class="ga-vector-feedback-item-select-wrapper">
                <select class="form-control" ng-model="options.selectedLayer" ng-options="c.label for c in options.layers[options.backgroundLayer.id].selectableLayers track by c.value">
                </select>
            </div>
        </div>
        <div class="ga-vector-feedback-item">
            <h4 class="ga-vector-feedback-item-title pull-left">Change selected item color</h4>
            <div class="ga-vector-feedback-item-select-wrapper">
                <select class="form-control ga-vector-feedback-colors" ng-model="options.color" ng-options="c.label for c in options.colors track by c.value">
                </select>
            </div>
        </div>
        <hr>
        <div class="ga-vector-feedback-item">
            <h4 class="ga-vector-feedback-item-title pull-left">Map labels</h4>
            <div class="ga-vector-feedback-item-select-wrapper">
                <select class="form-control ga-vector-feedback-colors" ng-model="options.showLabel" ng-options="c.label for c in options.showLabels track by c.value">
                </select>
            </div>
        </div>
        <hr>
        <div class="ga-vector-feedback-item">
            <h4 class="ga-vector-feedback-item-title pull-left">Technical documentation</h4>
            <a class="btn btn-default pull-right" href="{{options.serviceDocUrl}}" target_="_blank">Link to services</a>
        </div>
        <hr>
        <form ng-submit="submit()">
            <div class="form-group">
                <div class="ga-vector-feedback-item">
                    <h4 class="ga-vector-feedback-item-title pull-left">Do you like it?</h4>
                    <div class="ga-vector-feedback-item-select-wrapper">
                        <select class="form-control" ng-model="options.likeSelect">
                            <option value="dislike">Dislike</option>
                            <option value="rather_dislike">Rather dislike</option>
                            <option value="no_opinion">No opinion</option>
                            <option value="rather_like">Rather like</option>
                            <option value="like">Like</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <h4 class="ga-vector-feedback-item-title">Comment</h4>
                <textarea class="form-control" rows="3" ng-model="options.comment" placeholder="Give use a feedback..."></textarea>
            </div>
            <button type="submit" class="btn btn-default ga-vector-feedback-submit">Send</button>
        </form>
    </div>
</div>