[ngeo-wms-get-cap-item] {
     
  .ngeo-header-group:hover {
    background-color: #f5f5f5; 
  }
  
  .ngeo-odd {
    background-color: #f9f9f9;
  }

  .ngeo-selected, .ngeo-selected:hover {
    cursor: default;
    background-color: #dff0d8;
    border-color: #d6e9c6; 
  }
    
  
  .ngeo-header-group {
    padding: 5px 0;
  }
  
  .ngeo-invalid {

    &.ngeo-selected, &.ngeo-selected:hover {
      background-color: #f2dede;
    }
  }
}
