[ga-catalogtree] {

  .ga-catalogitem-node {

    a {
      color: black;
      display: block;
      text-decoration: none;
      &:hover, &:focus {
        color: #666;
      }
    }

    ul {
      padding-left: 1em;

      ul ul {
        padding-left: 1.2em;
      }
    }

    .icon-collapse-alt, .icon-expand-alt {
      float: left;
      padding-top: 2px;
      padding-right: 3px;
    }
  }

  .ga-catalogitem-template {
    background-color: #fff;

    .ga-catalogitem-selected, .ga-catalogitem-selected:hover {
      color: #f00;
    }
  }

  .ga-catalogitem-leaf {
    position: relative;

    i {
      position: absolute;
      right: 0;
      top: 0em;
      line-height: 32px;

      @media (max-width: @screen-tablet), (max-height: @screen-sm-max-height) {
        font-size: 26px;
      }
    }
    .icon-warning-sign {
      right: 1em;
    }
    i, label input {
      cursor: pointer;
    }

    .panel-subtitle;
    border-bottom-style: dashed;
    border-bottom-color: #c7c7c7;

    label {
      font-weight: normal;
      width: 100%;
      cursor: pointer;
    }
    input[type=checkbox] {
      margin-left: .5em;
      margin-right: .5em;
    }
  }

  .ga-catalogitem-entry {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 0px;
    
    &:not(.ga-catalogitem-selected) label:hover {
      color: #666;
    }

    label {
      padding-right: 12px;

      @media (max-width: @screen-tablet), (max-height: @screen-sm-max-height) {
        padding-right: 26px;
      }
    }
  }
}
