.topic-selector {
  width: 640px;
  .topic {
    float: left;
    margin: 5px;
    padding: 3px;
    border: 1px solid transparent;
    cursor: pointer;
    &.active, &:hover {
      border: 1px solid #c6c6c6;
      background-color: #efefef;
    }
  }
}
