<div class="ga-feature-tree">
  <form>
    <input type="radio" ng-model="searchmode" value="auto"><label translate>Auto</label>
    <input type="radio" ng-model="searchmode" value="rectangle"><label translate>Rectangle</label>
  </form>
  <div ng-if="loading">Please wait, data is loading...</div>
  <ul>
    <li ng-repeat="(key, layer) in tree">
      <a ng-click="layer.open = !layer.open">
        <i ng-class="{'icon-minus': layer.open, 'icon-plus': !layer.open}"></i>
        {{layer.label}}
      </a>
      <ul ng-if="layer.open" class="ga-feature">
        <li ng-repeat="feature in layer.features">
          <a ng-mouseover="selectFeatureInMap(feature)" ng-click="showTooltip(feature)" ng-mouseleave="clearSelection()">{{feature.label}}
            <i ng-click="recenterToFeature($event, feature)" class="icon-plus"></i>
          </a>
        </li>
      </ul>
    </li>
  </ul>
</div>

