<div class="ga-slider">
  <span class="bar">
    <span ng-repeat="data in dataList | orderBy:'value':false" 
        id="{{data.value}}"
        class="bar-division  {{(data.minor) ? 'minor' : ''}} {{(data.major) ? 'major' : ''}}"
        ng-style="assignDivisionStyle($index)" >
        <span class="bubble">{{data.value}}</span>
        <span class="available" ng-show="data.available" ></span>
    </span>    
  </span>
  <span class="bar selection"></span>
  <span class="pointer"></span>
  <span class="pointer"></span>
  <span class="bubble selection"></span>
  <span ng-bind-html="translate2({value: floor})" class="bubble limit"></span>
  <span ng-bind-html="translate2({value: ceiling})" class="bubble limit"></span>
  <span class="bubble value1"></span>
  <span class="bubble value2"></span>
  <span class="bubble value3"></span>
</div>


