<div class="ga-slider">
  <span class="ga-slider-bar">
    <span ng-repeat="data in dataList | orderBy:'value':false" 
        ng-style="assignDivisionStyle($index)"
        id="{{data.value}}"
        class="ga-slider-bar-division 
          {{($first) ? 'ga-slider-first ' : ''}}
          {{($last) ? 'ga-slider-last ' : ''}}
          {{(data.minor) ? 'ga-slider-minor' : ''}} 
          {{(data.major) ? 'ga-slider-major' : ''}}"
        title="{{($last) ? translate2({value:'slider_last_title'}) : data.value}}"> 
      <span class="ga-slider-bubble" >{{data.value}}</span>
      <span class="ga-slider-available" ng-show="data.available"></span>
    </span>    
  </span>
  <span class="ga-slider-bar ga-slider-selection"></span>
  <span class="ga-slider-pointer"></span>
  <span class="ga-slider-pointer"></span>
  <span class="ga-slider-bubble ga-slider-selection"></span>
  <span ng-bind-template="{{translate2({value:floor})}}" class="ga-slider-bubble ga-slider-limit"></span>
  <span ng-bind-template="{{translate2({value:ceiling})}}" class="ga-slider-bubble ga-slider-limit"></span>
  <span class="ga-slider-bubble ga-slider-value1">
    <input type="text" ng-model="ngModel" ng-change="onInputChange()" ga-format-input-value />
  </span>
  <span class="ga-slider-bubble ga-slider-value2"></span>
  <span class="ga-slider-bubble ga-slider-value3"></span>
</div>
