# -*- coding: utf-8 -*-
<!DOCTYPE html>
<html ng-app="geoadmin" ng-controller="GaMainController"
itemscope itemtype="http://schema.org/WebApplication"
% if device == 'mobile' and mode=='prod' :
 manifest="geoadmin.${version}.appcache"
% endif
>
  <head>
    <!--![if !HTML5]>
    <meta http-equiv="X-UA-Compatible" content="IE=9,IE=10,IE=edge,chrome=1"/>
    <![endif]-->
% if device == 'desktop':
    <title translate="page_title">map.geo.admin.ch</title>
% else:
    <title>geo.admin.ch</title>
% endif
    <meta charset="utf-8"/>
    <!-- verification for google webmaster tools -->
    <meta name="google-site-verification" content="ZAmW5d4_2X8xb5Yy_nYQbnTSe1EIeSqyhox9aXXwrws"/>
    <!-- verification for bing webmaster tools -->
    <meta name="msvalidate.01" content="58E0E0B7DD4AB3D30EE315C695950E68"/>
    <!-- verification for yandex webmaster tools -->
    <meta name='yandex-verification' content='4795f82c05657028'/>
    <!-- this tag enables the search bot forwarding to _escaped_fragment_= urls for SEO. It can be used instead of the ugly hasbang -->
    <meta name="fragment" content="!"/>

    <meta name="viewport" content="initial-scale=1.0, user-scalable=no, minimal-ui"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="application-name" content="map.geo.admin.ch"/>
    <meta name="msapplication-TileImage" content="${s3basepath}${versionslashed}img/touch-icon-bund-144x144.png"/>
    <meta name="msapplication-TileColor" content="#ffffff"/>
    <meta name="msapplication-square70x70logo" content="${s3basepath}${versionslashed}img/touch-icon-bund-70x70.png"/>
    <meta name="msapplication-square150x150logo" content="${s3basepath}${versionslashed}img/touch-icon-bund-150x150.png"/>
    <meta name="msapplication-square310x310logo" content="${s3basepath}${versionslashed}img/touch-icon-bund-310x310.png"/>
    <link rel="dns-prefetch" href="${api_url}"/>

    <link rel="apple-touch-icon" sizes="76x76" href="${s3basepath}${versionslashed}img/touch-icon-bund-76x76.png"/>
    <link rel="apple-touch-icon" sizes="120x120" href="${s3basepath}${versionslashed}img/touch-icon-bund-120x120.png"/>
    <link rel="apple-touch-icon" sizes="152x152" href="${s3basepath}${versionslashed}img/touch-icon-bund-152x152.png"/>

    <!-- Description is translated 'by hand' in the MainController -->
    <meta name="description" translate-attr="{content: 'page_description'}" content="geo.admin.ch ist die Geoinformationsplattform der Schweizerischen Eidgenossenschaft. // geo.admin.ch est la plateforme de géoinformation de la Confédération suisse."/>
    <meta name="keywords" content="maps Switzerland, map viewer, Confederation, geodata, public platform, geographical information, geoportal, orthophotos, geolocation, geoinformation, Geodaten, Geoinformation, Bund, Plattform, Karte, Kartendienst, Kartenviewer"/>
    <meta name="news_keywords" content="Maps of Switzerland"/>

    <!-- Open Graph metas SMO -->
    <meta property="og:site_name" content="geo.admin.ch"/>
    <meta property="og:title" content="Swiss Geoportal"/>
    <meta property="og:description" translate-attr="{content: 'page_description'}" content="geo.admin.ch ist die Geoinformationsplattform der Schweizerischen Eidgenossenschaft. // geo.admin.ch est la plateforme de géoinformation de la Confédération suisse."/>
    <meta property="og:type" content="WebApplication"/>
    <meta property="og:url" content="https://map.geo.admin.ch"/>
    <meta property="og:image" content="https://cms.geo.admin.ch/img/logo_geoportal.png"/>

    <!-- Twitter Card Infos -->
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:site" content="@swiss_geoportal"/>
    <meta name="twitter:creator" content="@swiss_geoportal"/>
    <meta name="twitter:title" content="geo.admin.ch"/>
    <meta name="twitter:description" content="geo.admin.ch ist die Geoinformationsplattform der Schweizerischen Eidgenossenschaft. // geo.admin.ch est la plateforme de géoinformation de la Confédération suisse."/>
    <meta name="twitter:image" content="https://cms.geo.admin.ch/img/logo_geoportal.png"/>
    <meta name="twitter:url" content="https://map.geo.admin.ch"/>

    <!-- Facebook Specific fb:admins and fb.appid -->

    <!-- Google+ Specific Tags -->
    <meta itemprop="name" content="geo.admin.ch"/>
    <meta itemprop="description" content="geo.admin.ch ist die Geoinformationsplattform der Schweizerischen Eidgenossenschaft. // geo.admin.ch est la plateforme de géoinformation de la Confédération suisse."/>
    <meta itemprop="image" content="https://cms.geo.admin.ch/img/logo_geoportal.png"/>

    <script>
      (function() {
        var w = window, l = w.location, n = w.navigator, p = '${device}', m = l.search.match(/(?:mobile=(true|false))/);
        if (!l.origin) {
          l.origin=l.protocol + "//" +l.hostname; // IE fix
        }
        m = (m) ? m[1] : m; // avoid loops
        if (!(p == 'desktop' && m == 'false') && !(p == 'mobile' && m == 'true')) {
          var href, onMobile = (('ontouchstart' in w) || n.maxTouchPoints > 1 || n.msMaxTouchPoints > 1) && (screen.width <= 768 || screen.height <= 768);
          if (m == 'false' || (!onMobile && p == 'mobile')) {
            href = l.origin + l.pathname.replace(/\/(|(mobile|embed)\.html)$/, '/index.html') + l.search;
          } else if (m == 'true' || (onMobile && p == 'desktop')) {
            href = l.origin + l.pathname.replace(/\/(|(index|embed)\.html)$/, '/mobile.html') + l.search;
          }
          if (href && href != l.href) {
            l.href = href;
          }
        }
      })();
    </script>
    <link href="${s3basepath}${versionslashed}style/app.css" rel="stylesheet"/>
  </head>
  <body class="{{topicId}} {{langId}}"
        ng-class="{
          'search-focused': globals.searchFocused,
          'touch': globals.touch,
          'webkit': globals.webkit,
          'no-webkit': !globals.webkit,
          'no-animation': !globals.animation,
          'offline': globals.offline,
          'online': !globals.offline,
          'embed': globals.embed,
          'ga-draw-active': globals.isDrawActive,
          'ga-3d-active': globals.is3dActive
        }">
    <!-- The below conditional is ignored by >= IE10 and all other browsers -->
    <!--![if IE]>
      <script>
       (function(){
       var msgDocumentMode = "";
       var msgCompatibilityView = "";
       if (document.documentMode < 9) {
          msgDocumentMode = "DE: Dokumentmodus von Internet Explorer muss 9 oder gr\366sser sein.\nFR: Le mode de document d'Internet Explorer doit \352tre plus grand ou \351gal \340 9.\nIT: Modalit\340 documento dev'essere maggiore o uguale a 9.\nEN: The document mode of your navigator should be 9 or higher.\n\n";
       }
       if (navigator.userAgent.indexOf("MSIE 7.0") > 0 || navigator.userAgent.indexOf("MSIE 8.0") > 0) {
          msgCompatibilityView = "DE: Sie verwenden einen veralteten Browser. Um die Website in vollem Umfang nutzen zu k\366nnnen, empfehlen wir Ihnen in diesem Falle, einen neueren Browser zu installieren: www.browsehappy.com/?locale=de\nFR: Vous utilisez un navigateur trop ancien. Pour utiliser toute les possibilit\351s de ce site web, nous vous conseillons d'installer un navigateur plus r\351cent: www.browsehappy.com/?locale=fr\nIT:Si sta utilizzando un browser non completamente supportato. Per sfruttare appieno le funzionalit\340 di questo sito web, consigliamo di installare un browser pi\371 recente: www.browsehappy.com/?locale=it\nEN: You are using an outdated browser. Please upgrade in this case your browser to improve your experience: browsehappy.com/?locale=en\n\n";
       }
       if (msgDocumentMode.length > 0 || msgCompatibilityView.length > 0) {
         alert(msgDocumentMode + msgCompatibilityView + "DE: \334ber die 'F12' Taste k\366nnen Sie die Einstellungen auf 'Browsermodus:IE9' und 'Dokumentmodus:IE-9-Standards' setzen.\nFR: En appuyant sur F12, vous pouvez modifier l'affichage de compatibilit\351 en choisissant le mode navigateur IE9 et le mode de document normes IE9.\nIT: Premere F12 per modificare la Modalit\340 browser scegliendo poi 'Modalit\340 browser IE9' e 'Modalit\340 documento: IE9'.\nEN: Click on F12 and change the compatibility view mode and the document mode to 'Browser Mode:IE9' and 'Document Mode: IE9 standards'.");
       }
       })();
      </script>
      <script src="${s3basepath}${versionslashed}lib/IE9Fixes.js"></script>
      <script>
        IE9Fix.call(this);
      </script>
    <![endif]-->

    <div ng-cloak class="corner-ribbon
% if device == 'mobile':
    top-left
% else:
    bottom-left
% endif
    sticky red shadow" ng-show="globals.is3dActive">
      3D - BETA
    </div>
    <div ng-controller="GaSeoController">
      <div ga-seo ga-seo-options="options" ga-seo-map="map"></div>
    </div>
% if device != 'embed':
    <div ng-cloak translate-cloak id="header" class="navbar navbar-fixed-top" ng-class="{'host-not-prod': !globals.hostIsProd}">
      <a href="?topic={{topicId}}&lang={{langId}}">
        <div id="logo" class="pull-left ga-logo">
          <i class="fa fa-ga-logo-bund"></i>
          <div class="ga-logo-text"></div>
          <div class="ga-logo-text ga-subtitle-{{langId}}"></div>
        </div>
      </a>
      <div id="search-container" ng-controller="GaSearchController">
        <div ga-search ga-search-map="map" ga-search-options="options" ga-search-focused="globals.searchFocused" ga-search-ol3d="::ol3d"></div>
  % if device == 'desktop':
        <span ga-help="24,31,25" ga-help-options="{showOnHover:true}"></span>
  % endif
        <div class="warning-not-prod" ng-if="!globals.hostIsProd">
          <span translate>test_host_warning</span>
        </div>
      </div>
  % if device == 'desktop':
      <div id="toptools">
        <div ga-fullscreen ga-fullscreen-map="map"></div>&nbsp;&nbsp;
        <a href="" ng-click="globals.feedbackPopupShown = !globals.feedbackPopupShown">
          <span translate>problem_announcement</span>
        </a>&nbsp;&nbsp;
        <a target="_blank" href="//help.geo.admin.ch/?lang={{langId}}" translate>help_label</a>&nbsp;&nbsp;
        <a href="{{deviceSwitcherHref}}" translate>mobile_redirect</a>&nbsp;&nbsp;
        <div ng-controller="GaTranslationController">
          <div ga-translation-selector ga-translation-selector-options="options"></div>
        </div>
      </div>
  % endif
      <button class="btn ga-menu-bt" ng-click="globals.pulldownShown=true" translate>menu</button>
      ## css animation doesnt work on pseudo element, let use this instead
      <div class="ga-offline-msg alert-danger" translate>offline_sorry</div>
    </div> <!-- #header -->

    <div id="drawModeHeader" class="navbar navbar-fixed-top">
      <div class="ga-centered ga-title" translate>draw_mode_title</div>
      <button class="btn btn-primary pull-left" ng-click="globals.isDrawActive = false">
        <i class="fa fa-arrow-left"></i>
        <span translate>draw_back</span>
      </button>
      <span ga-help="66"></span>
      <button class="btn ga-menu-bt" ng-click="globals.pulldownShown=true" translate>menu</button>
      ## css animation doesnt work on pseudo element, let use this instead
      <div class="ga-offline-msg alert-danger" translate>offline_sorry</div>
    </div><!-- #drawModeHeader -->

% endif
    <div id="loader"></div>
    <div tabindex="1" ga-map ga-map-map="map" ga-map-ol3d="::ol3d">
  % if device == 'embed':
      <a ng-cloak translate-cloak id="bigMapLink" target="_blank" href="{{toMainHref}}">
        <div>
          <i class="fa fa-ga-logo-bund"></i>
          <span translate-values="{{host}}" translate>view_on_mapgeoadminch</span>
        </div>
        <div ng-show="time">{{time}}</div>
      </a>
      <div id="search-container" ng-controller="GaSearchController">
        <div ga-search ga-search-map="map" ga-search-options="options" ga-search-ol3d="::ol3d"></div>
      </div>

      <div ga-scale-line ga-scale-line-map="map" ng-show="!globals.is3dActive"></div>
  % endif

      <div id='buttonGroup' ng-cloak translate-cloak>
  % if device != 'embed':
        <div ga-geolocation ga-geolocation-map="::map" ga-geolocation-ol3d="::ol3d"></div>
  % endif
        <div id="zoomButtons"></div>
        <div ga-tilt3d ng-if="globals.dev3d"></div>
  % if device != 'embed':
        <div ga-time-selector-bt ga-time-selector-bt-map="map"></div>
  % endif
        <div ga-rotate ga-rotate-map="map"></div>
  % if device == 'mobile':
        <div ga-offline-bt></div>
  % endif
      </div>
  % if device != 'embed':
      <div ng-cloak translate-cloak
           ga-background-selector
           ga-background-selector-map="::map"
           ga-background-selector-ol3d="::ol3d">
      </div>
  % endif
      <div ga-swipe
           ga-swipe-map="map"
           ga-swipe-active="globals.isSwipeActive"
           style="display:none;">
      </div>
      <div ng-cloak translate-cloak
           ga-attribution
           ga-attribution-map="::map"
           ga-attribution-ol3d="::ol3d">
      </div>
    </div> <!-- #map -->
% if device != 'mobile':
    <div ng-cloak ng-show="globals.is3dActive"
         ga-cesium-inspector
         ga-cesium-inspector-ol3d="::ol3d"></div>
% endif
% if device == 'mobile':
    <div ga-offline-selector
         ga-offline-selector-map="::map">
    </div>
% endif

    <div ga-controls3d ga-controls3d-ol3d="::ol3d" ng-if="ol3d" ng-show="globals.is3dActive" ga-controls3d-pegman="globals.pegman"></div>
    <div ga-attribution-warning
         ga-attribution-warning-ol3d="::ol3d">
      <span translate>3d_overlay_warning</span>
    </div>
% if device != 'embed':
    <div ng-cloak translate-cloak id="footer" class="navbar navbar-fixed-bottom">
      <div  class="pull-left" ga-scale-line ga-scale-line-map="::map" ng-show="!globals.is3dActive"></div>

  % if device == 'desktop':
      <div id="mouseposition" class="pull-left hidden-xs" ng-controller="GaMousePositionController">
        <select ng-model="options.projection"
                ng-options="p.label for p in ::mousePositionProjections">
        </select>
        <div ga-mouse-position
             ga-mouse-position-map="::map"
             ga-mouse-position-ol3d="::ol3d"
             ga-mouse-position-options="options"></div>
      </div>
  % endif
     <div class="pull-right">
        <a target="_blank" href="https://www.geo.admin.ch/{{langId}}/about-swiss-geoportal/impressum.html#copyright" translate>copyright_label</a>
      </div>
  % if device == 'desktop':
      <div class="pull-right">
        <a target="_blank"
           translate="{{topicId + '_service_link_label'}}"
           translate-attr="{href: topicId + '_service_link_href'}"></a>
      </div>
  % endif
    </div><!-- #footer -->

    <div ng-controller="GaContextPopupController">
      <div ga-context-popup
           ga-context-popup-map="::map"
           ga-context-popup-options="::options"
           ga-context-popup-is3d="globals.is3dActive">
      </div>
    </div>
% endif

    <div ga-timestamp-control ga-timestamp-control-map="map"></div>

% if device != 'embed':
    <div ng-controller="GaTimeSelectorController">
      <div ga-time-selector
           ga-time-selector-map="::map"
           ga-time-selector-ol3d="::ol3d"
           ga-time-selector-options="options">
      </div>
    </div>

    <!-- Display a modal if the page has been open by th shop -->
    <div ga-shop-msg></div>
% endif

    <div ng-controller="GaTooltipController">
      <div ga-tooltip
           ga-tooltip-map="::map"
           ga-tooltip-ol3d="::ol3d"
           ga-tooltip-options="options"
           ga-tooltip-active="!globals.feedbackPopupShown && !globals.isDrawActive">
      </div>
    </div>

% if device != 'embed':
    <div  id="pulldown" ng-cloak translate-cloak
          ng-class="{
            'selection-and-catalog-shown': (globals.catalogShown && globals.selectionShown),
            'ga-pulldown-shown': globals.pulldownShown
          }">
      <div class="ga-visible-mobile ga-pulldown-shadow" ng-click="globals.pulldownShown = false"></div>
      <div id="pulldown-content" class="content">
        <!-- Share -->
        <div class="panel">
          <a id="shareHeading" class="panel-heading accordion-toggle collapsed"
             data-toggle="collapse" data-parent="#pulldown-content" href="#share"
             ga-collapsible-show="globals.isShareActive">
            <i class="fa fa-caret-down"></i>
            <span translate>share</span>
          </a>
          <div id="share" class="panel-collapse collapse">
            <div class="panel-body" ng-controller="GaShareController">
              <div ga-share ga-share-options="options" ga-share-active="globals.isShareActive"></div>
            </div>
          </div>
        </div> <!-- .panel -->

  % if device == 'desktop':
        <!-- Print -->
        <div class="panel" ng-show="!globals.is3dActive">
          <a id="printHeading" class="panel-heading accordion-toggle collapsed"
             data-toggle="collapse" data-parent="#pulldown-content" href="#print"
             ga-collapsible-show="globals.printShown">
            <i class="fa fa-caret-down"></i>
            <span translate>print</span>
          </a>
          <div id="print" class="panel-collapse collapse">
            <div class="panel-body" ng-controller="GaPrintController">
              <div ga-print
                   ga-print-map="map"
                   ga-print-options="options"
                   ga-print-active="globals.printShown"></div>
            </div>
          </div>
        </div>  <!-- .panel -->

        <!-- Draw -->
        <div class="panel" ng-show="!globals.is3dActive">
          <a id="drawHeading" class="panel-heading accordion-toggle collapsed"
             data-toggle="collapse" data-parent="#pulldown-content" href="#draw"
             ga-collapsible-show="globals.isDrawActive" accesskey="r">
            <i class="fa fa-caret-down"></i>
            <span translate>draw_panel_title</span>
          </a>
          <div id="draw" class="panel-collapse collapse">
            <div class="panel-body" ng-controller="GaDrawController">
              <div ga-draw
                   ga-draw-map="map"
                   ga-draw-options="options"
                   ga-draw-active="globals.isDrawActive">
              </div>
            </div>
          </div>
        </div> <!-- .panel -->

        <!-- Tools -->
        <div class="panel">
          <a id="toolsHeading" class="panel-heading accordion-toggle collapsed"
             data-toggle="collapse" data-parent="#pulldown-content" href="#tools">
            <i class="fa fa-caret-down"></i>
            <span translate>map_tools</span>
          </a>
          <div id="tools" class="collapse">
            <div class="panel-body panel-body-wide panel-cursor">
              <ul>
                <li><!-- Import -->
                  <a href="" ng-click="globals.importPopupShown = !globals.importPopupShown"
                     data-original-title="{{'import_tooltip' | translate}}"
                     class="ga-custom-tooltip" data-placement="bottom"
                     accesskey="w">
                    <span ng-class="{'selected': globals.importPopupShown}" translate>import</span>
                  </a>
                </li>
                <li ng-show="!globals.is3dActive"><!-- Compare -->
                  <a href=""  ng-click="globals.isSwipeActive = !globals.isSwipeActive"
                     data-original-title="{{'swipe_tooltip' | translate}}"
                     class="ga-custom-tooltip" data-placement="bottom"
                     accesskey="c">
                    <span ng-class="{'selected': globals.isSwipeActive}" translate>swipe</span>
                  </a>
                </li>
                <li ng-show="!globals.is3dActive"><!-- Feature Tree -->
                  <a href=""  ng-click="globals.isFeatureTreeActive = !globals.isFeatureTreeActive"
                     data-original-title="{{'featuretree_tooltip' | translate}}"
                     class="ga-custom-tooltip" data-placement="top"
                     accesskey="s">
                    <span  ng-class="{'selected': globals.isFeatureTreeActive}" translate>object_information</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div> <!-- .panel -->
  % endif

        <!-- Catalog -->
        <div class="panel" ng-hide="globals.isDrawActive">
          <div class="theme-toggle">
            <a class="topic-modal-toggle" data-toggle="modal" data-target="#topicSelector .modal" href="#">
              <span translate>choose_theme</span>
            </a>
          </div>
          <a id="catalogHeading" class="panel-heading accordion-toggle light collapsed"
             data-toggle="collapse" href="#catalog"
             ga-collapsible-show="globals.catalogShown">
            <i class="fa fa-caret-down"></i>
            <span>{{topicId | translate}}</span>

  % if device == 'desktop':
            <span ga-help="32,37,39" ga-help-options="{showOnHover:true}"></span>
  % endif

          </a>
          <div id="catalog" class="collapse" ng-controller="GaCatalogtreeController">
            <div class="panel-body panel-body-wide accordion-inner-catalog"
                 ng-if="!globals.offline"
                 ga-catalogtree ga-catalogtree-map="map" ga-catalogtree-options="options">
            </div>
          </div>
        </div> <!-- .panel -->

        <!-- Selection -->
        <div class="panel" ng-hide="globals.isDrawActive">
          <a id="selectionHeading" class="panel-heading accordion-toggle light collapsed"
             data-toggle="collapse" href="#selection"
             ga-collapsible-show="globals.selectionShown">
            <i class="fa fa-caret-down"></i>
            <span translate>layers_displayed</span>

% if device == 'desktop':
            <span ga-help="34,35,36" ga-help-options="{showOnHover:true}"></span>
% endif
          </a>
          <div id="selection" class="collapse">
            <div class="panel-body panel-body-wide" ga-layermanager ga-layermanager-map="map">
            </div>
            <div class="ga-more-layers"
  % if device == 'mobile':
                 ng-click="globals.pulldownShown = !globals.phone"
  % endif
            >
              <a href="" ga-help-highlight=".ga-search-input-container input" translate>
                help_search_data_link
              </a>
            </div>
          </div>
        </div> <!-- .panel -->

  % if device == 'mobile':
        <div class="panel">
          <a class="panel-heading accordion-toggle collapsed" data-toggle="collapse" data-parent="#pulldown-content" href="#settings">
            <i class="fa fa-caret-down"></i>
            <span translate>settings</span>
          </a>
          <div id="settings" class="collapse">
            <div class="panel-body">
              <p>
                <a href="" ng-click="globals.feedbackPopupShown = !globals.feedbackPopupShown">
                  <span ng-class="{'selected': globals.feedbackPopupShown}" translate>problem_announcement</span>
                </a>
              </p>
              <p>
                <a href="{{deviceSwitcherHref}}" translate>desktop_redirect</a>
              </p>
              <div class="options">
                <label ng-controller="GaTranslationController">
                  <span translate>lang_chooser_label</span>
                  <div ga-translation-selector ga-translation-selector-options="options"></div>
                </label>
              </div>
              <hr>
              <p>
                <a target="_blank" translate translate-attr="{href: topicId + '_service_link_href'}">{{topicId + '_service_link_label'}}</a>
                <br>
                <a target="_blank" href="https://www.geo.admin.ch/{{langId}}/about-swiss-geoportal/impressum.html#copyright" translate>copyright_label</a>
              </p>
            </div>
          </div>
        </div> <!-- .panel -->
  % endif
        <button id="menu-button" class="btn btn-default"
                ng-click="globals.pulldownShown=!globals.pulldownShown">
          <span class="ga-hidden-mobile">
            <i class="fa fa-caret-down"></i>
            <span class="ga-hidden-collapsed" translate>close_menu</span>
            <span class="ga-visible-collapsed" translate>open_menu</span>
          </span>
          <span class="ga-visible-mobile" translate>close</span>
        </button>
      </div> <!-- #pulldown-content -->
    </div> <!-- #pulldown -->

  % if device == 'mobile':
    <!-- Modal: offline menu -->
    <div ng-cloak translate-cloak ga-offline-menu ga-offline-menu-map="map"></div>
  % endif

    <!-- Modal: topics selection -->
    <div id="topicSelector" ng-cloak translate-cloak ga-topic></div>

    <!-- Modal: draw share -->
    <div ng-cloak translate-cloak ga-share-draw></div>

    <!-- Modal: embed share -->
    <div ng-cloak translate-cloak ga-share-embed></div>

    <!-- Popup: Feedback -->
    <div ga-popup="globals.feedbackPopupShown"
         ga-popup-options="{title:'problem_announcement', help:'70'}"
         ga-draggable=".popover-title"
         id="feedback-popup"
         class="ga-popup-mobile-bottom">
      <div ng-controller="GaFeedbackController">
        <div ga-feedback
             ga-feedback-map="map"
             ga-feedback-options="options"
             ga-feedback-active="globals.feedbackPopupShown">
        </div>
      </div>
    </div> <!-- end Feedback -->

  % if device == 'desktop':
    <!-- Popup: Import -->
    <div ng-if="globals.importPopupShown"
         ga-popup="globals.importPopupShown"
         ga-popup-options="{title:'import', help:'62'}"
         ga-draggable=".popover-title"
         id="import-popup"
         class="ga-popup-mobile-bottom">
      <div ng-controller="GaImportController">
        <div ga-import
             ga-import-map="::map"
             ga-import-options="::options">
        </div>
      </div>
    </div> <!-- end Import -->
  % endif

    <!-- Popup: Profile -->
    <div ng-controller="GaProfilePopupController">
      <div ga-popup="toggle"
           ga-popup-options="options"
           id="profile-popup"
           class="ga-popup-bottom">
        <div ng-controller="GaProfileController">
          <div ng-if="toggle"
               ga-profile="feature"
               ga-profile-map="::map"
               ga-profile-layer="layer"
               ga-profile-options="options">
          </div>
        </div>
      </div>
    </div><!-- end Profile -->

    <!-- Popup: Draw style -->
    <div ng-controller="GaDrawStylePopupController">
      <div ga-popup="toggle"
           ga-popup-map="::map"
           ga-popup-options="options"
           id="draw-style-popup"
           class="ga-popup-mobile-bottom bottom">
        <div ng-controller="GaDrawStyleController">
          <div ng-if="toggle"
               ga-draw-style="feature"
               ga-draw-style-layer="layer"
               ga-draw-style-options="options">
          </div>
        </div>
      </div>
    </div><!-- end Draw style -->

    <!-- Popup: Feature Tree -->
    <div ng-controller="GaFeaturetreeController">
      <div ga-popup="globals.isFeatureTreeActive"
           ga-popup-options="{title:'object_information', showPrint:true, print: print, help:'68'}"
           ga-draggable=".popover-title"
           id="featuretree-popup"
           class="ga-popup-mobile-bottom">
        <div class="panel-group" id="accordion">
          <div class="panel panel-default">
            <a class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#accordion-query">
              <span translate>queries</span>
            </a>
            <div id="accordion-query" class="panel-collapse collapse in">
              <div class="panel-body"
                   ga-query
                   ga-query-map="map"
                   ga-query-options="options"
                   ga-query-active="globals.isFeatureTreeActive">
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <a class="panel-heading collapsed" data-toggle="collapse" data-parent="#accordion" href="#accordion-tree"
               ga-collapsible-show="options.featuresShown" ng-class="{'ga-query-more-results': options.hasMoreResults}">
              <span translate>items</span> {{getItemText()}}
              <div ng-show='printInProgress' class='pull-right'>{{printProgressPercentage}}%</div>
            </a>
            <div id="accordion-tree"
                 class="panel-collapse collapse">
              <div ng-show="options.nbFeatures == 0" class="panel-body">
                <div class="ga-no-result" translate>no_feature_results</div>
              </div>
              <div ng-show="options.nbFeatures > 0"
                   ga-featuretree
                   ga-featuretree-map="map"
                   ga-featuretree-options="options"
                   ga-featuretree-active="globals.isFeatureTreeActive">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div><!-- end Feature Tree -->

  % if device == 'desktop':
    <div ng-controller="GaImportController">
      <div ng-if="::supportDnd"
           ngeo-import-dnd
           ngeo-import-dnd-options="::options">
      </div>
    </div>
  % endif

  % if device == 'mobile':
    <div ng-if="globals.homescreen" class="popover homescreen"
         ng-class="{
           'visible': globals.homescreen,
           'bottom': globals.tablet,
           'top': !globals.tablet,
           'tr': (globals.ios >= 8)
         }">
      <div class="arrow"></div>
      <div class="popover-title">
        <span translate>homescreen_title</span>
        <button type="button" class="ga-icon ga-btn fa fa-remove" ng-click="globals.homescreen=false"></button>
      </div>
      <div class="popover-content">
        <i class="fa fa-share"></i>&nbsp;
        <span translate>homescreen_content</span>
      </div>
    </div>
  % endif
% endif

% if mode == 'prod':

    <script>
      window.CESIUM_BASE_URL="${s3basepath}${versionslashed}lib/Cesium/";
    </script>
    <script src="${s3basepath}${versionslashed}lib/build.js"></script>
    <!-- For <= IE9, we load it explicitely as XDomain does not support
         dynamic/lazy loading of javascript -->
    <!--![if IE]>
    <script src="${s3basepath}${versionslashed}lib/bootstrap-datetimepicker.min.js"></script>
    <script src="${s3basepath}${versionslashed}lib/d3.min.js"></script>
    <script src="${s3basepath}${versionslashed}lib/jquery.xdomainrequest.min.js"></script>
    <![endif]-->
% else:
    <!-- in source, we need to load it here because IE9 ignores it in
         the comments for reasons unknown to me. In prod, it's only
         loaded in IE9 -->
    <script src="${s3basepath}lib/polyfill.js"></script>
    <script src="${s3basepath}lib/IE9Fixes.js"></script>
    <script>
      //This call only affects browser <= IE9
      IE9Fix.call(this);
    </script>
    <script src="${s3basepath}lib/jquery.js"></script>
    <script src="${s3basepath}lib/jQuery.XDomainRequest.js"></script>
    <script src="${s3basepath}lib/slip.js"></script>
    <script src="${s3basepath}lib/angular.js"></script>
    <script src="${s3basepath}lib/angular-translate.js"></script>
    <script src="${s3basepath}lib/angular-translate-loader-static-files.js"></script>
    <script src="${s3basepath}lib/d3.js"></script>
    <script src="${s3basepath}lib/bootstrap.js"></script>
    <script src="${s3basepath}lib/typeahead.jquery.js"></script>
    <script src="${s3basepath}lib/proj4js-compressed.js"></script>
    <script src="${s3basepath}lib/EPSG21781.js"></script>
    <script src="${s3basepath}lib/EPSG2056.js"></script>
    <script src="${s3basepath}lib/EPSG32631.js"></script>
    <script src="${s3basepath}lib/EPSG32632.js"></script>
    <script src="${s3basepath}lib/fastclick.js"></script>
    <script src="${s3basepath}lib/localforage.js"></script>
    <script src="${s3basepath}lib/filesaver.js"></script>
    <script src="${s3basepath}lib/moment-with-customlocales.js"></script>
    <script src="${s3basepath}lib/Cesium/Cesium.js"></script>


    <!-- Use Closure to load the application scripts -->
    <script>
      window.CLOSURE_NO_DEPS = true;
    </script>

    <script src="${s3basepath}lib/olcesium-debug.js"></script>
    <script src="${s3basepath}deps.js"></script>
    <script>
      goog.require('geoadmin');
    </script>
% endif

    <script>
      window.addEventListener('load', function() {
        FastClick.attach(document.body);
      }, false);
    </script>

% if device == 'embed':
    <script>
      window.addEventListener('load', function() {
        if (window.name !== "embed" && window.location == window.parent.location) {
          document.body.innerHTML = "The map.geo.admin.ch embed page must be used in an iframe."
        }
      }, false);
    </script>
% endif

    <script>
      (function() {
        // Make sure ajax is using cached requests
        $.ajaxSetup({
          cache: true
        });
        function getParam(name) {
          return decodeURIComponent((new RegExp('[?|&]' + name + '=' + '([^&;]+?)(&|#|;|$)').exec(location.search)||[,""])[1].replace(/\+/g, '%20')) || null;
        }

        var adminUrlRegexp = new RegExp('${admin_url_regexp}');
        var module = angular.module('geoadmin');
        var cacheAdd = '${version}' != '' ? '/' + '${version}' : '';
        var pathname = location.pathname.replace(/(index|mobile|embed)\.html$/g, '');
        var s3pathname = '${s3basepath}' == '' ? pathname : '${s3basepath}';
        var prtl = location.protocol;
        // Because s3 is hosted on infra
        var supportedEnv = ['dev', 'int', 'prod', 'ci'];
        var staging = '${staging}';
        var hostIsProd = true;
        if (/.*\.(dev|int|ci|infra|prod)\.bgdi\.ch$/.test(location.hostname)) {
          hostIsProd = false;
        }

        // Determines if one is using custom prodUrl (for user env)
        var userEnvRegexp = new RegExp('\/\/.*(\/[a-z]*)');
        // Force env via parameter for testing purposes (before Varnish)
        var env = getParam('env');
        function setBackend(prodUrl, techUrl, overwriteParam) {
          var url = prodUrl;
          if (env && env != 'prod' && supportedEnv.indexOf(env) !== -1) {
            url = techUrl + env + '${tech_suffix}';
          } else if (staging != 'prod' && !userEnvRegexp.test(prodUrl)) {
            url = techUrl + staging + '${tech_suffix}';
          }
          var overwrite = prtl + getParam(overwriteParam);
          url = adminUrlRegexp.test(overwrite) ? overwrite : url;
          return url;
        }

        var defaultApiUrl = prtl + '${api_url}';
        var apiUrl = setBackend(defaultApiUrl, prtl + '${api_tech_url}', 'api_url');
        var mapproxyUrl = setBackend(prtl + '${mapproxy_url}', prtl + '${mapproxy_tech_url}', 'mapproxy_url');
        var vectorTilesUrl = setBackend(prtl + '${vectortiles_url}', prtl + '${vectortiles_tech_url}', 'vectortiles_url');
        var wmsUrl = setBackend(prtl + '${wms_url}',  prtl + '${wms_tech_url}', 'wms_url');
        var shopUrl = setBackend(prtl + '${shop_url}', prtl + '${shop_tech_url}', 'shop_url');
        var publicUrl = setBackend(prtl + '${public_url}', prtl + '${public_tech_url}', 'public_url');
        var printUrl = setBackend(prtl + '${print_url}', prtl + '${print_tech_url}', 'print_url');
        var proxyUrl = prtl + '${proxy_url}' + '/';
        var apiOverwrite = !!(getParam('api_url') || env);
        ngeo.baseModuleTemplateUrl = 'ngeo/src/modules';
        module.constant('gaGlobalOptions', {
          //dev3d to be removed once 3d goes live
          dev3d: true,
          buildMode: '${mode}',
          version: '${version}',
          pegman: !!window.location.search.match(/(pegman=true)/),
          mapUrl: location.origin + pathname,
          apiUrl: apiUrl,
          printUrl: printUrl,
          proxyUrl: proxyUrl,
          mapproxyUrl: mapproxyUrl,
          vectorTilesUrl: vectorTilesUrl,
          shopUrl: shopUrl,
          publicUrl: publicUrl,
          publicUrlRegexp: new RegExp('${public_url_regexp}'),
          adminUrlRegexp: adminUrlRegexp,
          cachedApiUrl: apiUrl + cacheAdd,
          cachedPrintUrl: printUrl + cacheAdd,
          resourceUrl: location.origin + s3pathname + '${versionslashed}',
          wmsUrl: wmsUrl,
          w3wUrl: 'https://api.what3words.com',
          lv03tolv95Url: 'https://geodesy.geo.admin.ch/reframe/lv03tolv95',
          lv95tolv03Url: 'https://geodesy.geo.admin.ch/reframe/lv95tolv03',
          w3wApiKey: 'OM48J50Y',
          whitelist: [
            'https://' + window.location.host + '/**',
            'https://www.googleapis.com/**'
          ],
          defaultTopicId: '${default_topic_id}',
          translationFallbackCode: '${translation_fallback_code}',
          defaultExtent: JSON.parse(${default_extent}),
          defaultResolution: ${default_resolution},
          defaultLod: ${default_level_of_detail},
          resolutions: JSON.parse(${resolutions}),
          lods: JSON.parse(${level_of_details}),
          defaultEpsg: '${default_epsg}',
          defaultEpsgExtent: JSON.parse(${default_epsg_extend}),
          defaultElevationModel: '${default_elevation_model}',
          defaultTerrain: '${default_terrain}',
          languages: JSON.parse(${languages}),
          hostIsProd: hostIsProd
        });

        module.config(function($translateProvider, gaGlobalOptions) {
          $translateProvider.useStaticFilesLoader({
            prefix: '${s3basepath}${versionslashed}locales/',
            suffix: '.json'
          });
          $translateProvider.cloakClassName('ng-cloak');
          // TODO: Use $sanitize instead in the future
          // see http://angular-translate.github.io/docs/#/guide/19_security
          $translateProvider.useSanitizeValueStrategy(null);

        });

        module.config(function(gaLayersProvider, gaGlobalOptions) {
          gaLayersProvider.dfltWmsSubdomains = ['', '0', '1', '2', '3', '4'];
          gaLayersProvider.dfltWmtsNativeSubdomains = ['100', '101', '102', '103', '104', '105', '106', '107', '108', '109'];
          gaLayersProvider.dfltWmtsMapProxySubdomains = staging === 'prod' ? ['100', '101', '102', '103', '104', '105', '106', '107', '108', '109'] : ['20', '21', '22', '23', '24'];
          gaLayersProvider.dfltVectorTilesSubdomains = staging === 'prod' ? ['100', '101', '102', '103', '104'] : ['', '0', '1', '2', '3', '4'];
          gaLayersProvider.wmsUrlTemplate = '//wms{s}.geo.admin.ch/';
          gaLayersProvider.wmtsGetTileUrlTemplate = '//wmts{s}.geo.admin.ch/1.0.0/{Layer}/default/{Time}/{TileMatrixSet}/{z}/{y}/{x}.{Format}';
          gaLayersProvider.wmtsMapProxyGetTileUrlTemplate =  gaGlobalOptions.mapproxyUrl + '/1.0.0/{Layer}/default/{Time}/{TileMatrixSet}/{z}/{x}/{y}.{Format}';
          gaLayersProvider.terrainTileUrlTemplate = '//terrain100.geo.admin.ch/1.0.0/{Layer}/default/{Time}/4326';
          gaLayersProvider.vectorTilesUrlTemplate = gaGlobalOptions.vectorTilesUrl + '/{Layer}/{Time}/';
          gaLayersProvider.imageryMetadataUrl = '//3d.geo.admin.ch/imagery/';
          if (apiOverwrite) {
            gaLayersProvider.layersConfigUrlTemplate = apiUrl + '/rest/services/all/MapServer/layersConfig?lang={Lang}';
          } else {
            gaLayersProvider.layersConfigUrlTemplate = gaGlobalOptions.resourceUrl + 'layersConfig.{Lang}.json';
          }
          gaLayersProvider.legendUrlTemplate = gaGlobalOptions.apiUrl + '/rest/services/all/MapServer/{Layer}/legend?lang={Lang}';
        });
        module.config(function(gaTopicProvider, gaGlobalOptions) {
          if (apiOverwrite) {
            gaTopicProvider.topicsUrl = apiUrl + '/rest/services';
          } else {
            gaTopicProvider.topicsUrl = gaGlobalOptions.resourceUrl + 'services';
          }
        });

        module.config(function(gaExportKmlProvider, gaGlobalOptions) {
          gaExportKmlProvider.downloadKmlUrl =
              gaGlobalOptions.apiUrl + '/downloadkml';
        });

        module.config(function(gaFileStorageProvider, gaGlobalOptions) {
          gaFileStorageProvider.fileStorageUrl = gaGlobalOptions.apiUrl + '/files';
          gaFileStorageProvider.publicUrl = gaGlobalOptions.publicUrl;
        });

        module.config(function(gaPreviewFeaturesProvider, gaGlobalOptions) {
          gaPreviewFeaturesProvider.url =
              gaGlobalOptions.cachedApiUrl + '/rest/services/all/MapServer/';
        });

        module.config(function(gaProfileProvider, gaGlobalOptions) {
          gaProfileProvider.d3libUrl =
              gaGlobalOptions.resourceUrl + 'lib/d3.min.js';
          gaProfileProvider.profileUrl =
              gaGlobalOptions.apiUrl + '/rest/services/profile.json';
        });

        module.config(function(gaUrlUtilsProvider, gaGlobalOptions) {
          gaUrlUtilsProvider.shortenUrl =
              gaGlobalOptions.apiUrl + '/shorten.json';
        });

        module.config(function(gaQueryProvider, gaGlobalOptions) {
          gaQueryProvider.dpUrl = gaGlobalOptions.resourceUrl +
              'lib/bootstrap-datetimepicker.min.js';
        });

        module.config(function($sceDelegateProvider, gaGlobalOptions) {
          var whitelist = $sceDelegateProvider.resourceUrlWhitelist();
          whitelist = whitelist.concat(gaGlobalOptions.whitelist);
          $sceDelegateProvider.resourceUrlWhitelist(whitelist);
        });

        $('.ga-custom-tooltip').tooltip();

      })();

% if device == 'mobile':
## Workaround for iOS 6.x bug: content shifted after orientation change
## As we can't use css fix ( see http://stackoverflow.com/a/12518946/29655 )
## we force a redraw on orientation change
## ( see http://stackoverflow.com/a/13235711/29655 )
      (function(){
        $(window).bind("orientationchange", function(){
          $('#header').hide();
          setTimeout(function(){
            $('#header').show();
            // iOS 7 minimal-ui meta tag bug
            window.scrollTo(0, 0);
          }, 0);
        });
      })();
% endif
    </script>
  </body>
</html>
