<div>
  <div ng-switch="item.children">

    <div ng-switch-when="undefined" class="ga-catalogtree-leaf ga-catalogtree-entry checkbox">
      <label>
        <input type="checkbox" ng-model="item.selectedOpen"
        ng-change="switchLayer()">{{item.label}}
      </label>
      <i class="icon-info-sign" ng-click="getLegend($event, item.idBod)"></i>
    </div>

    <div ng-switch-default="" class="ga-catalogtree-node">
      <div ng-click="toggle($event)">
        <i ng-class="{'icon-collapse-alt': item.selectedOpen, 'icon-expand-alt': !item.selectedOpen}"></i>
        <div class="ga-catalogtree-entry">{{item.label}}</div>
      </div>
      <ul ng-class="{closed: !item.selectedOpen}">
        <li ng-repeat="child in item.children">
          <div ga-catalogtree ga-catalogtree-item="child" ga-catalogtree-map="map"></div>
        </li>
      </ul>
    </div>

  </div>
</div>
