<div>
  <div ng-switch="val.children">

    <div ng-switch-when="undefined" class="ga-catalogtree-leaf checkbox">
      <label>
        <input type="checkbox" ng-model="val.selectedOpen" ng-change="switchLayer()">{{val.label}}
      </label>
      <i class="icon-info-sign" ng-click="getLegend($event, val.idBod)"></i>
    </div>

    <div ng-switch-default="" class="ga-catalogtree-node">
      <div ng-click="toggle($event)">{{val.label}}</div>
      <ul ng-class="{closed: !val.selectedOpen}">
        <li ng-repeat="item in val.children">
          <div ga-catalogtree val="item" ga-catalogtree-map="map"></div>
        </li>
      </ul>
    </div>

  </div>
</div>
