<div class="ga-catalogitem-template" ng-switch="item.children">

  <div ng-switch-when="undefined" class="ga-catalogitem-leaf ga-catalogitem-entry"
      ng-class="{'preview': item.preview, 'selected': item.selectedOpen}"
      ng-mouseover="previewLayer()"
      ng-mouseleave="removePreviewLayer()"
      ng-click="switchLayer(true)">
    <i class="icon-circle-blank" ng-show="!item.selectedOpen"></i>
    <i class="icon-ok-circle" ng-show="item.selectedOpen"></i>
    {{item.label}}
    <i class="icon-warning-sign" ng-show="item.errorLoading"></i>
    <i class="icon-info-sign" ng-click="getLegend($event, item.idBod)"></i>
  </div>

  <div ng-switch-default="" class="ga-catalogitem-node">
    <div ng-click="toggle($event)" class="ga-catalogitem-entry">
      <i ng-class="{'icon-collapse-alt': item.selectedOpen, 'icon-expand-alt': !item.selectedOpen}"></i>
      {{item.label}}
    </div>
    <ul ng-class="{closed: !item.selectedOpen}">
      <li ng-repeat="child in item.children">
        <div ga-catalogitem ga-catalogitem-item="child" ga-catalogitem-map="map"></div>
      </li>
    </ul>
  </div>

</div>
