<div id="vectorFeedbackSurvey" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" translate>vector_feedback_survey_modal_title</h4>
        <button class="ga-icon ga-btn fa fa-remove" data-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <div class="input-modal-container">
          <iframe ng-src="{{url}}" height="100%" width="100%" frameborder="0"></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
