@tooltip-width: 450;
@tooltip-height: 600;

.ga-tooltip {
  max-width: unit(@tooltip-width, px);
  max-height: unit(@tooltip-height, px);

  .ga-active {
    background-color: #F9DCA8;
  }
  .popover-content {
    padding: 0px;
  }

  td {
    padding-right: 14px;
  }

  .ga-tooltip-separator {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    margin-top: 4px;
    border-bottom-color: #c7c7c7;
  }

  @media (max-width: @screen-tablet) {
    max-height: 300px;
  }

  /* !important is used to override (and so deactivate) draggable styles
  applied */
  @media (max-width: @screen-phone) {
    top: 50% !important;
    max-height: none;
  }
}
