<form class="form-inline">
  <div class="form-group">
    <div class="input-group">
      <div
        class="input-group-addon btn btn-default"
        role="button"
        ng-click="minus()"

        ng-disabled="ngModel <= min"
      >-</div>
      <input
        class="form-control"
        type="text"
        ng-model="ngModel"
        ng-model-options="{ debounce: 300 }"
        ng-value="toGoodValue(ngModel)"
      />
      <div
        class="input-group-addon btn btn-default"
        role="button"
        ng-click="plus()"
        ng-disabled="ngModel >= max"
      >+</div>
    </div>
  </div>
</form>
