<div>Share map
<div class="pull-right" style="padding-bottom: 2px;">
    <a class="share-tooltip"
       title="Create a QRCode and open this map on your mobile"
       ng-href="{{serviceUrl}}/qrcodegenerator?url={{encodedPermalinkHref}}">
      <img src="img/qrcode.png" style="height: 24px; width: 24px;"/>
    </a>

    <a class="share-tooltip"
       title="Tweet this map"
       ng-href="https://twitter.com/intent/tweet?url={{encodedPermalinkHref}}&text={{encodedTitle}}">
      <img src="img/twitter.png" style="height: 24px; width: 24px;"/>
    </a>

    <a class="share-tooltip"
       title="Share this map with your friends"
       ng-href="http://www.facebook.com/sharer.php?u={{encodedPermalinkHref}}&t={{encodedTitle}}">
      <img src="img/facebook.png" style="height: 24px; width: 24px;"/>
    </a>

    <a class="share-tooltip"
       title="Share this map on Google Plus"
       ng-href="https://plus.google.com/share?url={{encodedPermalinkHref}}">
      <img src="img/google_plus.png" style="height: 24px; width: 24px;"/>
    </a>

    <a class="share-tooltip"
       title="Send a map-email to your friends"
       ng-href="mailto:?subject={{encodedTitle}}&body={{encodedPermalinkHref}}">
      <img src="img/envelope.png" style="height: 18px; width: 24px;"/>
    </a>
</div>
</div>
<input class="permalink-input" ng-model="permalinkvalue"
       ng-click="selectOnClick($event)">
<a href="#" ng-click="shortenUrl()">Shorten URL</a>
<br>&nbsp
<div style="padding-bottom: 2px;">Embed map&nbsp<img class="permalinkTooltip"
                    src="img/warning.png"
                    style="height: 24px; width: 24px;"
                    data-toggle="tooltip" title="Though most layers are
freely accesible, a swisstopo web access is required. For a list of all
available layers and their accessibility, please refer to the FAQ."/>
</div>
<textarea class="html-input" rows="1" cols="40" ng-click="selectOnClick($event)">
<iframe width="800" height="600" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="{{permalinkHref}}"</iframe>
</textarea>
